/**
 * Παράδειγμα μεθόδου - Αντικαταστήστε το παρόν σχόλιο με το δικό σας
 *
 * @param  y   Παράδειγμα παραμέτρου για την μέθοδο
 * @return     το άθροισμα των x και y
 */
public int sampleMethod(int y)
{
	// Γράψτε τον κώδικά σας εδώ
	return y;
}

