------------------------------------------------------------------------
Βασική κλάση: $MAINCLASS
Για να τρέξετε την εφαρμογή, χρησιμοποιήστε την εντολή
  java $MAINCLASS
------------------------------------------------------------------------
