------------------------------------------------------------------------
Αυτό είναι το αρχείο README του έργου. Στο αρχείο αυτό θα ήταν καλό να
περιγράψετε το έργο. Περιγράψτε στον χρήστη (κάποιον που δεν γνωρίζει
τίποτα για το έργο) ό,τι χρειάζεται να γνωρίζει. Τα σχόλιά σας θα πρέπει
περιέχουν τουλάχιστον τις παρακάτω κατηγορίες:
------------------------------------------------------------------------

ΤΙΤΛΟΣ ΕΡΓΟΥ:
ΣΚΟΠΟΣ ΤΟΥ ΕΡΓΟΥ:
ΕΚΔΟΣΗ ή ΗΜΕΡΟΜΗΝΙΑ:
ΠΩΣ ΝΑ ΤΡΕΞΕΤΕ ΤΟ ΕΡΓΟ:
ΔΗΜΙΟΥΡΓΟΙ:
ΟΔΗΓΙΕΣ ΧΡΗΣΗΣ:
