<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html lang="ja">
$COMMENT
    <head>
        <title>$TITLE アプレット</title>
    </head>
    <body>
        <h1>$TITLE アプレット</h1>
        <hr>
        <applet code="$CLASSFILE"
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            codebase=$CODEBASE
            alt="このブラウザはアプレットを実?sできない?ﾔになっています?B"
        >
            $PARAMETERS
         <p>このブラウザは &lt;APPLET&gt; タグに対応していません?B</p>
        </applet>
        <hr>
    </body>
</html>