<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML lang="ja">
$COMMENT
    <HEAD>
        <TITLE>$TITLE アプレット</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE アプレット</H1>
        <HR>
        <APPLET CODE="$CLASSFILE"
            WIDTH=$APPLETWIDTH
            HEIGHT=$APPLETHEIGHT
            CODEBASE=$CODEBASE
            ALT="このブラウザはアプレットを実行できない状態になっています。"
        >
            $PARAMETERS
         <P>このブラウザは &lt;APPLET&gt; タグに対応していません。</P>
        </APPLET>
        <HR>
    </BODY>
</HTML>
