------------------------------------------------------------------------
メインクラス： $MAINCLASS
このアプリケーションを起動するために使用するコマンド
  java $MAINCLASS
------------------------------------------------------------------------
