------------------------------------------------------------------------
これはプロジェクトの README.TXT ファイルです。ここに、自分のプロジェクト
に関する説明を書いてください。読み手である彼／彼女——このプロジェクトに
ついて知らない誰か——が知っておく必要のあるすべてを書いてください。
少なくとも以下のコメントはたいていの場合に含めるべきです。
------------------------------------------------------------------------

プロジェクトタイトル：
プロジェクトの目的：
バージョンもしくは日付：
このプロジェクトの起動方法：
作成者：
ユーザーに教えること：
