$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // 注: メソッド名 "run" は デバッガによって参照されます。
    // デバッガの実装を変えずにそれを変更してはなりません！

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$INVOCATION
    }
}
