<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE">
            $PARAMETERS
            ALT="Your browser understands the &lt;APPLET&gt; tag but isn't running the applet, for some reason."
            Your browser is ignoring the &lt;APPLET&gt; tag!      
        </APPLET>
        <HR>
    </BODY>
</HTML>
