$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // NOTE: the method name "run" is referred to by the debugger - it must
    // not be changed without changing the debugger implementation!

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$PARAMINIT
	$INVOCATION
    }
}

