<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
$COMMENT
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>$TITLE Applet</title>
    </head>
    <body>
        <h1>$TITLE Applet</h1>
        <hr>
        <applet code="$CLASSFILE" 
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            codebase="$CODEBASE"
            archive="$ARCHIVE"
            alt="你的浏览器支持&lt;APPLET&gt;标记，但是由于某些原因，它不能执行applet"
        >
            $PARAMETERS 
            你的浏览器忽略了&lt;APPLET&gt;标记！     
        </applet>
        <hr>
    </body>
</html>
