$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // 注意：方法名"run"是被调试器引用的 - 
    // 如果调试器的实现没有改变的话，它也不能改变

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$INVOCATION
    }
}

