<html>
    <head>
        <title>$TITLE</title>
    </head>
    <body>
        <h1>$TITLE</h1>
        <hr>
        <applet code="$CLASSFILE" 
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            archive="$ARCHIVE"
            alt="Your browser understands the &lt;APPLET&gt; tag but isn't running the applet, for some reason."
         >
            Your browser is ignoring the &lt;APPLET&gt; tag!      
        </applet>
        <hr>
    </body>
</html>
