import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot and MouseInfo)

/**
 * Write a description of class $CLASSNAME here.
 * 
 * @author (your name) 
 * @version (a version number or a date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    /**
     * Act - do whatever the $CLASSNAME wants to do. This method is called whenever
     * the 'Act' or 'Run' button gets pressed in the environment.
     */
	public void act() 
	{
		// Add your action code here.
	}	
}
