<?xml version="1.0" encoding="UTF-8"?>
    <class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true">
        <imports>    	
        	<import target="java.util.*" enable="true"/>
        	<import target="greenfoot.*" enable="true"/>
        	<import target="java.awt.Color" enable="true"/>
        </imports>
        <methods>
	        <method access="public" type="void" name="act" enable="true">
    	        <params/>
        	    <body/>
        	</method>
        </methods>
    </class>