<html>
    <head>
        <title>Greenfoot project: $TITLE</title>
    </head>
    <body>
        <h1>$TITLE</h1>
        <hr>
        <center>
        <applet code="$CLASSFILE" 
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            archive="$ARCHIVE"
            alt="Your browser understands the &lt;APPLET&gt; tag but isn't running the applet, for some reason."
         >
            Your browser is ignoring the &lt;APPLET&gt; tag!      
        </applet>
        
        <hr>
        <p>
        <font face="arial" size="-1" color="#888888"> Made with Greenfoot - 
        	<a href="http://www.greenfoot.org">www.greenfoot.org</a>
        </p>	
        	
        <p><font face="arial" size="-1" color="#888888"> 
         For license information see: <a href="http://www.greenfoot.org/about/license.html">www.greenfoot.org/about/license.html</a></font>
        </p>
        </center>
    </body>
</html>
