<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true" strideversion="1">
    <javadoc xml:space="preserve">Write a description of class $CLASSNAME here.</javadoc>
    <imports>
        <import target="java.util.*" enable="true"/>
        <import target="greenfoot.*" enable="true"/>
    </imports>
    <implements/>
    <fields>
        <comment xml:space="preserve">Instance variables - replace the example below with your own</comment>
        <variable access="private" type="int" name="x" enable="true"/>
    </fields>
    <constructors>
        <constructor access="public" enable="true">
            <javadoc xml:space="preserve">Constructor for objects of class $CLASSNAME</javadoc>
            <params/>
            <throws/>
            <body/>
        </constructor>
    </constructors>
    <methods>
        <method access="public" type="int" name="sampleMethod" enable="true">
            <javadoc xml:space="preserve">An example of a method - replace this comment with your own</javadoc>
            <params>
                <param type="int" name="y"/>
            </params>
            <throws/>
            <body>
                <comment xml:space="preserve">Put your code here</comment>
                <return value="x+y" value-java="x + y" enable="true"/>
            </body>
        </method>
    </methods>
</class>
