<?xml version="1.0" encoding="UTF-8"?>
    <class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true">
        <imports>
        	<import target="java.util.*" enable="true"/>
        	<import target="greenfoot.*" enable="true"/>
        </imports>
        
        <fields>
        	<variable type="int" name="x" enable="true"/>
        </fields>
        
        <constructors>
        	<constructor access="public" enable="true">
            	<params/>
            	<body/>
        	</constructor>
        </constructors>
        
        <methods>
     		<method access="public" type="int" name="sampleMethod" enable="true">
            	<params>
                	<param type="int" name="y"/>
            	</params>
            	<body>
	                <return value="x+y" enable="true"/>
            	</body>
        	</method>
        </methods>
    </class>