<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true" strideversion="1">
    <javadoc xml:space="preserve"/>
    <imports>
        <import target="java.util.*" enable="true"/>
        <import target="greenfoot.*" enable="true"/>
    </imports>
    <implements/>
    <fields/>
    <constructors>
        <constructor access="public" enable="true">
            <javadoc xml:space="preserve">Constructor for objects of class $CLASSNAME.</javadoc>
            <params/>
            <throws/>
            <delegate target="super" params="600,400,1" params-java="600, 400, 1"/>
            <body/>
        </constructor>
    </constructors>
    <methods/>
</class>
