<?xml version="1.0" encoding="UTF-8"?>
    <class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true">
        <imports>
        	<import target="java.util.*" enable="true"/>
        	<import target="greenfoot.*" enable="true"/>
        	<import target="java.awt.Color" enable="true"/>
        </imports>
        <constructors>
	        <constructor access="public" enable="true">
    	        <params/>
        	    <delegate target="super" params="600,400,1"/>
            	<body/>
	        </constructor>
        </constructors>
    </class>