import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot and MouseInfo)

/**
 * Write a description of class $CLASSNAME here.
 * 
 * @author (your name) 
 * @version (a version number or a date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

	/**
	 * Constructor for objects of class $CLASSNAME.
	 * 
	 */
	public $CLASSNAME()
	{	
	    // Create a new world with 600x400 cells with a cell size of 1x1 pixels.
        super(600, 400, 1); 
	}
}
