.*
!.env
!.gitignore
!.github

/bluej/classes
/bluej/.*
!/bluej/.gitignore
/bluej/package/**/*.jar
/bluej/package/**/*.zip
/bluej/doc/extensions/**

/greenfoot/classes
/greenfoot/native/classes
/greenfoot/test/classes
/greenfoot/.*
!/greenfoot/.gitignore
/greenfoot/test/classes
/greenfoot/doc/API
/greenfoot/common/*.html
/greenfoot/images
/greenfoot/package/*.jar

*.iml
*.class
/classes
/output
