<?xml version="1.0" encoding="UTF-8"?>
<class abstract="true" name="$CLASSNAME" enable="true" package="$PKGNAME" strideversion="1">
    <imports/>
    <implements/>
    <fields/>
    <methods/>
</class>