$PKGLINE
/**
 * Enumeration class $CLASSNAME - write a description of the class here
 * 
 * @author (your name here)
 * @version (version number or date here)
 */
public enum $CLASSNAME
{
	penny(1), nickel(5), dime(10), quarter(25);
        
    $CLASSNAME(int value) { this.value = value; }
        
    private final int value;
        
    public int value() { return value; }
}
