$PKGLINE
/**
 * Enumeration class $CLASSNAME - write a description of the enum class here
 *
 * @author (your name here)
 * @version (version number or date here)
 */
public enum $CLASSNAME
{
    MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}
