<?xml version="1.0" encoding="UTF-8"?>
<interface name="$CLASSNAME" enable="true" package="$PKGNAME" strideversion="1">
    <javadoc xml:space="preserve">Write a description of interface $CLASSNAME here.</javadoc>
    <imports/>
    <methods>
        <method access="public" type="int" name="sampleMethod" enable="true">
            <javadoc xml:space="preserve">An example of a method header - replace this comment with your own</javadoc>
            <params>
                <param type="int" name="y"/>
            </params>
            <throws/>
        </method>
    </methods>
</interface>