$PKGLINE/**
 * Write a description of class $CLASSNAME here.
 *
 * @author (your name)
 * @version (a version number or a date)
 */
open class $CLASSNAME {
    // instance variables
    private var x: Int = 0

    /**
     * An example of a method - replace this comment with your own
     *
     * @param y a sample parameter for a method
     * @return the sum of x and y
     */
    open fun sampleMethod(y: Int): Int {
        return x + y
    }
}
