$PKGLINE
/**
 * Write a description of record $CLASSNAME here.
 *
 * @author (your name)
 * @version (a version number or a date)
 * @param x The sample x parameter of the record
 * @param y The sample y parameter of the record
 */
public record $CLASSNAME(int x, int y)
{
    /**
     * An extra constructor for $CLASSNAME records
     */
    public $CLASSNAME()
    {
        this(0, 0);
    }

    /**
     * An example of a method - replace this comment with your own
     *
     * @param  z  a sample parameter for a method
     * @return    the sum of x and y and z
     */
    public int sampleMethod(int z)
    {
        // put your code here
        return x + y + z;
    }
}
