<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" enable="true" package="$PKGNAME" strideversion="1">
    <imports/>
    <implements/>
    <fields/>
    <constructors>
        <constructor access="public" enable="true">
            <javadoc xml:space="preserve">Constructor for objects of class $CLASSNAME</javadoc>
            <params/>
            <throws/>
            <body/>
        </constructor>
    </constructors>
    <methods/>
</class>
