$PKGLINE
import junit.framework.Test;
import junit.framework.TestCase;
import junit.framework.TestSuite;

/**
 * Write a description of the test class $CLASSNAME here.
 *
 * @author  (your name)
 * @version (a version number or a date)
 */
public class $CLASSNAME extends TestCase
{
    /**
     * Insert fixtures here
     */

    /**
     * Constructs a $CLASSNAME
     */
    public $CLASSNAME()
    {

    }

    /**
     * Sets up the test fixture.
     *
     * Called before every test case method.
     */
    protected void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Called after every test case method.
     */
    protected void tearDown()
    {
    }

    /**
     * A sample test case method
     */
    public void testSample()
    {
        assertEquals(4, 4);
    }
}
