$PKGLINE
/**
 * Classe abstrata $CLASSNAME - escreva uma descrição da classe aqui
 * 
 * @author (seu nome aqui)
 * @version (número da versão ou data aqui)
 */
public abstract class $CLASSNAME
{
	// variáveis de instância - substitua o exemplo abaixo pelo seu código
	int x;

	/**
	 * Um exemplo de um método - substitua este comentário pelo seu próprio
	 * 
	 * @param  y	um exemplo de parâmetro para um método
	 * @return		a soma de x e y
	 */
	public int sampleMethod(int y)
	{
		// escreva seu código aqui
		return x + y;
	}
}
