$PKGLINE
/**
 * Classe abstrata $CLASSNAME - escreva a descrição da classe aqui
 * 
 * @author (seu nome aqui)
 * @version (versão ou data)
 */
public abstract class $CLASSNAME
{
	// variáveis de instância - substitua o exemplo abaico pelo seu código
	int x;

	/**
	 * Um exemplo de método - substitua este exemplo pelo seu código
	 * 
	 * @param  y	um exemplo de parâmetro de método
	 * @return		a soma de x com y
	 */
	public int sampleMethod(int y)
	{
		// ponha seu código aqui
		return x + y;
	}
}
