$PKGLINE
/**
 * Classe abstrata $CLASSNAME - escreva a descriзгo da classe aqui
 * 
 * @author (seu nome aqui)
 * @version (versгo ou data)
 */
public abstract class $CLASSNAME
{
	// variбveis de instвncia - substitua o exemplo abaico pelo seu cуdigo
	int x;

	/**
	 * Um exemplo de mйtodo - substitua este exemplo pelo seu cуdigo
	 * 
	 * @param  y	um exemplo de parвmetro de mйtodo
	 * @return		a soma de x com y
	 */
	public int sampleMethod(int y)
	{
		// ponha seu cуdigo aqui
		return x + y;
	}
}
