$PKGLINE/**
 * Escreva uma descrição da classe $CLASSNAME aqui.
 *
 * @author (seu nome)
 * @version (um número da versão ou uma data)
 */
abstract class $CLASSNAME {
    // variáveis de instância - substitua o exemplo abaixo pelo seu próprio
    var x: Int = 0

    /**
     * Um exemplo de um método abstrato - substitua este comentário pelo seu próprio
     *
     * @param y     um exemplo de um parâmetro de método
     * @return      descrição do valor de retorno
     */
    abstract fun sampleMethod(y: Int): Int
}
