$PKGLINE/**
 * Escreva uma descrição da classe $CLASSNAME aqui.
 *
 * @author (seu nome)
 * @version (um número da versão ou uma data)
 */
data class $CLASSNAME(
    val name: String,
    val value: Int
)
