$PKGLINE
/**
 * Enumeração $CLASSNAME - escreva a descrição da enumeração aqui
 * 
 * @author (seu nome aqui)
 * @version (número da versão ou data aqui)
 */
public enum $CLASSNAME
{
	MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}
