$PKGLINE
/**
 * Escreva a descriзгo da interface $CLASSNAME aqui.
 * 
 * @author (seu nome) 
 * @version (nъmero da versгo ou data)
 */

public interface $CLASSNAME
{
	/**
	 * Exemplo de um cabeзalho de mйtodo - substitua este comentбrio pelo seu
	 * 
	 * @param  y	exemplo de um parвmetro de mйtodo
	 * @return		o resultado produzido pelo sampleMethod 
	 */
	int sampleMethod(int y);
}
