$PKGLINE
/**
 * Escreva a descrição da interface $CLASSNAME aqui.
 * 
 * @author (seu nome) 
 * @version (número da versão ou data)
 */

public interface $CLASSNAME
{
	/**
	 * Exemplo de um cabeçalho de método - substitua este comentário pelo seu
	 * 
	 * @param  y	exemplo de um parâmetro de método
	 * @return		o resultado produzido pelo sampleMethod 
	 */
	int sampleMethod(int y);
}
