$PKGLINE/**
 * Funções de nível superior para $CLASSNAME.
 *
 * @author (seu nome)
 * @version (um número da versão ou uma data)
 */

/**
 * Um exemplo de função - substitua este comentário pelo seu
 *
 * @param name  um parâmetro de exemplo
 * @return      uma mensagem de saudação
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
