$PKGLINE/**
 * Escreva uma descrição da classe $CLASSNAME aqui.
 *
 * @author (seu nome)
 * @version (um número da versão ou uma data)
 */
open class $CLASSNAME {
    // variáveis de instância - substitua o exemplo abaixo pelo seu próprio
    var x: Int = 0

    /**
     * Um exemplo de um método aberto - substitua este comentário pelo seu próprio
     *
     * @param y     um exemplo de um parâmetro de método
     * @return      a soma de x e y
     */
    open fun sampleMethod(y: Int): Int {
        return x + y
    }
}
