$PKGLINE
/**
 * Escreva a descriзгo da classe $CLASSNAME aqui.
 * 
 * @author (seu nome) 
 * @version (nъmero de versгo ou data)
 */
public class $CLASSNAME
{
	// variбveis de instвncia - substitua o exemplo abaixo pelo seu prуprio
	private int x;

	/**
	 * COnstrutor para objetos da classe $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// inicializa variбveis de instвncia
		x = 0;
	}

	/**
	 * Exemplo de mйtodo - substitua este comentбrio pelo seu prуprio
	 * 
	 * @param  y   exemplo de um parвmetro de mйtodo
	 * @return     a soma de x com y 
	 */
	public int sampleMethod(int y)
	{
		// ponha seu cуdigo aqui
		return x + y;
	}
}
