$PKGLINE
/**
 * Escreva uma descrição da classe $CLASSNAME aqui.
 * 
 * @author (seu nome) 
 * @version (um número da versão ou uma data)
 */
public class $CLASSNAME
{
	// variáveis de instância - substitua o exemplo abaixo pelo seu próprio
	private int x;

	/**
	 * Construtor para objetos da classe $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// inicializa variáveis de instância
		x = 0;
	}

	/**
	 * Um exemplo de um método - substitua este comentário pelo seu próprio
	 * 
	 * @param  y   um exemplo de um parâmetro de método
	 * @return     a soma de x e y 
	 */
	public int sampleMethod(int y)
	{
		// escreva seu código aqui
		return x + y;
	}
}
