$PKGLINE
/**
 * Escreva a descrição da classe $CLASSNAME aqui.
 * 
 * @author (seu nome) 
 * @version (número de versão ou data)
 */
public class $CLASSNAME
{
	// variáveis de instância - substitua o exemplo abaixo pelo seu próprio
	private int x;

	/**
	 * COnstrutor para objetos da classe $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// inicializa variáveis de instância
		x = 0;
	}

	/**
	 * Exemplo de método - substitua este comentário pelo seu próprio
	 * 
	 * @param  y   exemplo de um parâmetro de método
	 * @return     a soma de x com y 
	 */
	public int sampleMethod(int y)
	{
		// ponha seu código aqui
		return x + y;
	}
}
