$PKGLINE

/**
 * A classe de teste $CLASSNAME.
 *
 * @author  (seu nome)
 * @version (um número de versão ou data)
 */
public class $CLASSNAME extends junit.framework.TestCase
{
    /**
     * Construtor default para a classe de teste $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Define a .
     *
     * Chamado antes de cada método de caso de teste.
     */
    protected void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Chamado após cada método de teste de caso.
     */
    protected void tearDown()
    {
    }
}
