$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * A classe de teste $CLASSNAME.
 *
 * @author  (seu nome)
 * @version (um número de versão ou data)
 */
public class $CLASSNAME
{
    /**
     * Construtor default para a classe de teste $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Define a .
     *
     * Chamado antes de cada método de caso de teste.
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Chamado após cada método de teste de caso.
     */
    @AfterEach
    public void tearDown()
    {
    }
}
