$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * A classe de teste $CLASSNAME.
 *
 * @author  (seu nome)
 * @version (um número de versão ou data)
 */
public class $CLASSNAME
{
    /**
     * Construtor default para a classe de teste $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Define a .
     *
     * Chamado antes de cada método de caso de teste.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Chamado após cada método de teste de caso.
     */
    @After
    public void tearDown()
    {
    }
}
