$PKGLINE/**
 * Interface $CLASSNAME - write a description of the interface here
 * 
 * @author: 
 * Date: 
 */

public interface $CLASSNAME
{
    /**
     * An example of a method - replace this comment with your own
     * 
     * @param  y   a sample parameter for a method
     * @return     the result produced by sampleMethod 
     */
    public int sampleMethod(int y);
}
