$PKGLINE
import bluej.runtime.Shell;
import bluej.runtime.ObjectResultWrapper;
import java.util.Hashtable;

public class $CLASSNAME extends Shell
{
    $VARDECL

    // NOTE: the method name "run" is referred to by the debugger - it must
    // not be changed without changing the debugger implementation!

    public static void run()
	throws Exception
    {
	$SCOPEINIT
	$INVOCATION
    }
}

