$PKGLINE
import bluej.runtime.Shell;
import bluej.runtime.ObjectResultWrapper;
import java.util.Hashtable;

public class $CLASSNAME extends Shell
{
    $VARDECL

    // NOTE: the names "shellObject", "prepare" and "run" are referred to by
    // the debugger and the ExecServer - they must not be changed without
    // changing the debugger/server implementation!

    static $CLASSNAME shellObject;

    public static void prepare()
    {
	shellObject = new $CLASSNAME();
    }

    public void run()
	throws Exception
    {
	$SCOPEINIT
	$INVOCATION
    }
}

