<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
$COMMENT
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>$TITLE Applet</title>
    </head>
    <body>
        <h1>$TITLE Applet</h1>
        <hr>
        <applet code="$CLASSFILE"
            width=$APPLETWIDTH
            height=$APPLETHEIGHT
            codebase="$CODEBASE"
            archive="$ARCHIVE"
            alt="Vas prohlizec sice znacce &lt;APPLET&gt; rozumi, ale z nejakeho duvodu neumi tento aplet spustit."
        >
            $PARAMETERS
            Vas prohlizec znacku &lt;APPLET&gt; ignoruje!
        </applet>
        <hr>
    </body>
</html>
