<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE"
            archive="$ARCHIVE"
            ALT="Vas prohlizec rozumi &lt;APPLET&gt; tagu, ale z neznameho duvodu neumi spustit tento aplet."
        >
            $PARAMETERS
            Vas prohlizec ignoruje &lt;APPLET&gt; tag!      
        </APPLET>
        <HR>
    </BODY>
</HTML>