<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE">
            $PARAMETERS
            ALT="Vas prohlizec rozumi &lt;APPLET&gt; tagu, ale neumi spustit tento aplet z neznameho duvodu."
            Vas prohlizec ignoruje &lt;APPLET&gt; tag!      
        </APPLET>
        <HR>
    </BODY>
</HTML>
