/**
 * Priklad metody - tento komentar nahradte vlastnim
 *
 * @param  y   ukazkovy parametr metody
 * @return     vraci soucet x a y
 */
public void metoda(int x) {
    //Zde napiste svuj kod
    return x;
}
