/***************************************************************************
 * Šablona metody.
 *
 * @param  x   Popis parametru
 * @return     Popis vrácené hodnoty
 * @throws Ex  Popis vyhazované výjimky
 */
public void metoda()
{
}
