/**
 * Prazdna metoda - tento komentar nahradte vlastnim
 *
 * @param  x   Popis parametru
 * @return     Popis vracene hodnoty
 * @throws Ex  Popis vyhazovane vyjimky
 */
public void metoda() {
    /*# Zde napiste svuj kod. */
}
