------------------------------------------------------------------------
Hlavni(spousteci) trida: $MAINCLASS
Aplikaci odstartujete prikazem
  java $MAINCLASS
------------------------------------------------------------------------
