--------------------------------------------------------------------
Toto je README soubor projektu. Zde stručné popište váš projekt.
Čtenáři, který nemusí o tomto projektu nic vědět, řeknete vše, 
co potřebuje znát, aby mohl váš program používat. 

Tato úvodní pasáž je určena pouze pro autory - 
před zveřejněním svého projektu ji ze souboru odstraňte.
--------------------------------------------------------------------

================================================
NÁZEV PROJEKTU:
================================================

AUTOŘI:
VERZE A DATUM:
================================================



ÚČEL PROJEKTU:
==============



JAK PROJEKT SPUSTIT:
====================



INSTRUKCE PRO UŽIVATELE:
========================



UŽITEČNÉ PŘÍKAZY PRO PRÁCI S PŘÍKAZOVÝM PANELEM:
================================================
