--------------------------------------------------------------------
Soubor je ulozen v kodovani UTF-8.
Kontrola kodovani: Příliš žluťoučký kůň úpěl ďábelské ódy.
--------------------------------------------------------------------
Toto je README soubor projektu. Zde stručné popište váš projekt.
Čtenáři, který nemusí o tomto projektu nic vědět, řekněte vše,
co potřebuje znát, aby mohl váš program používat.

Tato úvodní pasáž ukončená následujícím řádem pomlček je určena
pro autory - před předáním budoucím uživatelům ji odstraňte.
--------------------------------------------------------------------

================================================
NÁZEV PROJEKTU:
================================================

AUTOŘI:
VERZE A DATUM:
================================================



ÚČEL PROJEKTU:
==============



JAK PROJEKT SPUSTIT:
====================



INSTRUKCE PRO UŽIVATELE:
========================



================================================================================
UŽITEČNÉ PŘÍKAZY PRO PRÁCI S PŘÍKAZOVÝM PANELEM:
================================================
