------------------------------------------------------------------------
Toto je README soubor projektu. Zde popiste strucne vas projekt.
Ctenari, ktery nemusi o tomto projektu nic vedet, 
reknete vse, co potrebuje znat, aby mohl vas program pouzivat. 
Nechcete-li byt zavisli na platforme, na ktere bude soubor otevren,
nemely by komentare obsahovat ceskou diakritiku (hacky a carky). 
Komentare vetsinou obsahuji alespon:
------------------------------------------------------------------------

NAZEV PROJEKTU:
UCEL PROJEKTU:
VERZE NEBO DATUM:
JAK PROJEKT SPUSTIT:
AUTORI:
INSTRUKCE PRO UZIVATELE: