$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // NOTE: metoda se jmenem "run" je vyuzivana debuggerem - proto
    // nesmi byt menena!!

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$INVOCATION
    }
}

