.Body {
    font-family: 'Skia-Regular', 'Skia';
    font-size: 12pt;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.17;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 12pt;
    text-align: justify;
    text-decoration: none;
    text-transform: none;
	text-indent: 0pt; 
}
.Caption {
    font-family: 'Skia-Regular', 'Skia';
    font-size: 12pt;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.17;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: center;
    text-decoration: none;
    text-transform: none;
	text-indent: 0pt; 
}
.TOC_Heading_2 {
    color: #000000;
    font-family: 'Skia-Regular', 'Skia';
    font-size: 14.00pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.21;
    margin-bottom: 0.000000pt;
    margin-left: 14.17pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
	text-indent: 24.346458pt; 
}
.TOC_Heading_3 {
    color: #000000;
    font-family: 'Skia-Regular', 'Skia';
    font-size: 12.00pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.17;
    margin-bottom: 0pt;
    margin-left: 28.35pt;
    margin-right: 0.00pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
	text-indent: 40pt;
}
.Legal {
    list-style: decimal;
    font-family: 'Skia-Regular', 'Skia';
    font-size: 18.00pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-top: 0pt;
    padding-left: 0pt;
    text-indent: 6pt;
}
.Heading {
    background: #cccccc;
    color: #000000;
    font-family: 'Skia-Regular', 'Skia';
    font-size: 24.00pt;
    font-style: normal;
    line-height: 1.21;
    padding-bottom: 12pt;
    padding-top: 12pt;
    text-align: center;
    text-decoration: none;
    text-indent: 0pt;
}
.Sub_heading {
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 12pt;
    padding-top: 24pt;
    text-indent: 0.00pt;
}
.Code {
    color: #000000;
    font-family: 'Monaco', 'Monaco';
    font-size: 10.00pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.40;
    margin-bottom: 0.000000pt;
    margin-left: 0.00pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 0.000000pt;
    padding-top: 0.000000pt;
    text-align: justify;
    text-decoration: none;
    text-indent: 0.00pt;
    text-transform: none;
    vertical-align: 0.000000em;
}
.None {
    font-family: 'Skia-Regular', 'Skia'; 
    list-style: none;
    margin-bottom: 0.000000pt;
    margin-left: -24.0pt;
    margin-top: 0.000000pt;
    text-indent: 0.000000pt;
}
.FootnoteRegion {
    border-bottom-width: 0;
    border-color: #7f7f7f;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: thin;
    margin-top: 1em;
    padding-top: 0.5em;
}
.Footnote_Text {
    color: #000000;
    font-family: 'Helvetica', 'Helvetica';
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.20;
    margin-bottom: 0.000000pt;
    margin-left: 0.00pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 10.000000pt;
    padding-top: 0.000000pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00pt;
    text-transform: none;
    vertical-align: 0.000000em;
}
