import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot and MouseInfo)

/**
 * Escribe una descrición de la clase $CLASSNAME aquí.
 * 
 * @autor (tu nombre) 
 * @versión (Un número de versión o una fecha)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    /**
     * Act - hace lo que $CLASSNAME quiere hacer. Este método se llama "cuando quiera" o whenever
     * los botones 'Actuar or 'Ejecutar' son presionados en el entorno.
     */
	public void act() 
	{
		// Agrega tus códigos de acción aquí.
	}	
}
