<html>
    <head>
        <title>Proyecto Greenfoot: $TITLE</title>
    </head>
    <body>
        <h1>$TITLE</h1>
        <hr>
        <center>
        <applet code="$CLASSFILE" 
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            archive="$ARCHIVE"
            alt="To navegador entiende la etiqueta &lt;APPLET&gt; pero no est&aacute; corriendo el applet, por alguna raz&oacute;n."
         >
            Su navegador est&aacute; ignorando la etiqueta de &lt;APPLET&gt;!      
        </applet>
        
        <hr>
        <p>
        <font face="arial" size="-1" color="#888888"> Creado con Greenfoot - 
        	<a href="http://www.greenfoot.org">www.greenfoot.org</a>
        </p>	
        	
        <p><font face="arial" size="-1" color="#888888"> 
         Para informaci&oacute;n de la licencia vea: <a href="http://www.greenfoot.org/about/license.html">www.greenfoot.org/about/license.html</a></font>
        </p>
        </center>
    </body>
</html>
