/**
 * Escribe una descrición de la clase $CLASSNAME aquí.
 * 
 * @autor (tu nombre) 
 * @versión (Un número de versión o una fecha)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME 
{
	// instance variables - reemplace el ejemplo a continuación por uno propio
	private int x;

	/**
	 * Constructor para objetos de clase $CLASSNAME.
	 */
	public $CLASSNAME()
	{
	}

	/**
	 * Un ejemplo de este método -  reemplace este comentario por uno propio 
	 * 
	 * @param  y   un parámetro ejemplo para un método
	 * @return     la suma de x e y
	 */
	public int sampleMethod(int y)
	{
		// ponga su código aquí
		return x + y;
	}
}
