import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot and MouseInfo)

/**
 * Escribe una descrición de la clase $CLASSNAME aquí.
 * 
 * @autor (tu nombre) 
 * @versión (Un número de versión o una fecha)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

	/**
	 * Constructor para objetos de clase $CLASSNAME.
	 * 
	 */
	public $CLASSNAME()
	{	
	    // Crea un nuevo mundo de 600x400 celdas con un tamaño de celda de 1x1 pixeles.
        super(600, 400, 1); 
	}
}
