/**
 * Voorbeeld van een method - schrijf hier jouw comment
 *
 * @param  y	deze method krijgt deze parameter mee in de aanroep
 * @return	deze method geeft de som van x en y terug
 */
public int voorbeeldMethod(int y)
{
	// schrijf hier jouw code
	return x + y;
}

