------------------------------------------------------------------------
Main class: $MAINCLASS
Met het volgende commando kan je deze toepassing starten:
  java $MAINCLASS
------------------------------------------------------------------------
