$PKGLINE/**
 * class $CLASSNAME - geef hier een beschrijving van deze class
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
abstract class $CLASSNAME {
    // instance variables - vervang deze door jouw variabelen
    var x: Int = 0

    /**
     * Voorbeeld van een abstracte method - schrijf hier jouw comment
     *
     * @param y     voorbeeld parameter voor deze method
     * @return      beschrijving van de terugkeerwaarde
     */
    abstract fun sampleMethod(y: Int): Int
}
