$PKGLINE
/**
 * Abstract class $CLASSNAME - geef hier een beschrijving van deze class
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
public abstract class $CLASSNAME
{
	// instance variables - vervang deze door jouw variabelen
	private int x;

	/**
	 * Voorbeeld van een method - schrijf hier jouw comment
	 *
	 * @param  y	deze method krijgt deze parameter mee in de aanroep
	 * @return	deze method geeft de som van x en y terug
	 */
	public int voorbeeldMethod(int y)
	{
		// schrijf hier jouw code
		return x + y;
	}
}
