$PKGLINE/**
 * class $CLASSNAME - geef hier een beschrijving van deze class
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
data class $CLASSNAME(
    val name: String,
    val value: Int
)
