$PKGLINE
/**
 * Enumeration class $CLASSNAME - geef hier een beschrijving van de enum class
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
public enum $CLASSNAME
{
	MAANDAG, DINSDAG, WOENSDAG, DONDERDAG, VRIJDAG, ZATERDAG, ZONDAG
}
