$PKGLINE
/**
 * interface $CLASSNAME - geef hier een beschrijving van deze interface
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
public interface $CLASSNAME
{
	/**
	 * Voorbeeld van een method header - schrijf hier jouw comment
	 *
	 * @param  y	voorbeeld parameter voor deze method
	 * @return	het resultaat van deze method
	 */
	int voorbeeldMethod(int y);

	}
}
