$PKGLINE/**
 * Top-level functies voor $CLASSNAME.
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */

/**
 * Voorbeeld van een functie - schrijf hier jouw comment
 *
 * @param name  een voorbeeldparameter
 * @return      een begroetingsbericht
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
