$PKGLINE/**
 * class $CLASSNAME - geef hier een beschrijving van deze class
 *
 * @author (jouw naam)
 * @version (versie nummer of datum)
 */
open class $CLASSNAME {
    // instance variables - vervang deze door jouw variabelen
    var x: Int = 0

    /**
     * Voorbeeld van een open method - schrijf hier jouw comment
     *
     * @param y     voorbeeld parameter voor deze method
     * @return      de som van x en y
     */
    open fun sampleMethod(y: Int): Int {
        return x + y
    }
}
