import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot et MouseInfo)

/**
 * Ecrivez une description de $CLASSNAME ici.
 * 
 * @author (votre nom) 
 * @version (un numéro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    /**
     * Act - Applique ce que $CLASSNAME veut faire. Cette méthode est appelée à chaque fois que
     * les boutons 'Exécuter' ou 'Act' sont pressés.
     */
  public void act() 
  {
    // Placez votre code d'action ici.
  }  
}