<html>
<head>
<title>Projet Greenfoot: $TITLE</title>
</head>
<body>
<h1>$TITLE</h1>
<hr>
<center>
<applet code="$CLASSFILE"
        width=$APPLETWIDTH
        height=$APPLETHEIGHT
        archive="$ARCHIVE"
        alt="Votre navigateur interprète le tag &lt;applet&gt; mais ne l'exécute pas pour une raison inconnue."
        >
        Votre navigateur n'interprète pas le tag &lt;applet&gt; !
</applet>

<hr>
<p>
<font face="arial" size="-1" color="#888888"> Réalisé avec Greenfoot -
<a href="http://www.greenfoot.org">www.greenfoot.org</a>
</p>

<p><font face="arial" size="-1" color="#888888">
        Pour des informations sur la licence, voir : <a href="http://www.greenfoot.org/about/license.html">www.greenfoot.org/about/license.html</a></font>
</p>
</center>
</body>
</html>
