/**
 * Ecrivez une description de $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un numéro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    // variable d'instance - remplacez l'exemple suivant par le vôtre
    private int x;

    /**
     * Constructeur pour les objets de la classe $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Un exemple de méthode - remplacez ce commentaire par le vôtre
     *
     * @param  y   un exemple de paramètre pour une méthode
     * @return     la somme d'x et d'y
     */
    public int exempleDeMethode(int y)
    {
        // placez votre code ici
        return x + y;
    }
}
