import greenfoot.*;

/**
 * Ecrivez une description de $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un numéro de version ou une date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

    /**
     * Constructeur pour les objets de la classe $CLASSNAME.
     *
     */
    public $CLASSNAME()
    {
        // Crée un nouveau monde avec 600x400 cellules qui ont pour taille 1x1 pixels.
        super(600, 400, 1);
    }
}
