$PKGLINE/**
 * Abstrakte Klasse $CLASSNAME - beschreiben Sie hier die Klasse
 * 
 * @author (Ihr Name)
 * @version (eine Version-Nummer oder ein Datum)
 */
public abstract class $CLASSNAME
{
	// Instanzvariablen - ersetzen Sie das folgende Beispiel mit Ihren Variablen
	private int x;

	/**
	 * Ein Beispiel einer Methode - ersetzen Sie diesen Kommentar mit Ihrem eigenen
	 * 
	 * @param  y	ein Beispielparameter für eine Methode
	 * @return		die Summe aus x und y
	 */
	public int beispMethode(int y)
	{
		// tragen Sie hier den Code ein
		return x + y;
	}
}
