$PKGLINE
/**
 * Beschreiben Sie hier die Aufzählungsklasse $CLASSNAME.
 * 
 * @author  (Ihr Name)
 * @version (eine Versionsnummer oder ein Datum)
 */
public enum $CLASSNAME
{
	MONTAG, DIENSTAG, MITTWOCH, DONNERSTAG, FREITAG, SAMSTAG, SONNTAG
}
