$PKGLINE
/**
 * Beschreiben Sie hier die Aufzählungsklasse $CLASSNAME.
 * 
 * @author  (Ihr Name)
 * @version (eine Versionsnummer oder ein Datum)
 */
public enum $CLASSNAME
{
	montag, dienstag, mittwoch, donnerstag, freitag, samstag, sonntag;
}
