$PKGLINE/**
 * Tragen Sie hier eine Beschreibung des Interface $CLASSNAME ein.
 *
 * @author (Ihr Name)
 * @version (eine Versionsnummer oder ein Datum)
 */
interface $CLASSNAME {
    /**
     * Ein Beispiel eines Methodenkopfs - ersetzen Sie diesen Kommentar mit Ihrem eigenen
     *
     * @param y     ein Beispielparameter für eine Methode
     * @return      das Ergebnis der Methode sampleMethod
     */
    fun sampleMethod(y: Int): Int
}
