$PKGLINE
/**
 * Tragen Sie hier eine Beschreibung des Interface $CLASSNAME ein.
 * 
 * @author (Ihr Name) 
 * @version (eine Versionsnummer oder ein Datum)
 */

public interface $CLASSNAME
{
	/**
	 * Ein Beispiel eines Methodenkops - ersetzen Sie diesen Kommentar mit Ihrem eigenen
	 * 
	 * @param  y	ein Beispielparameter für eine Methode
	 * @return		das Ergebnis von beispMethode
	 */
	int beispielMethode(int y);
}
