$PKGLINE/**
 * Funktionen der obersten Ebene für $CLASSNAME.
 *
 * @author (Ihr Name)
 * @version (eine Versionsnummer oder ein Datum)
 */

/**
 * Ein Beispiel einer Funktion - ersetzen Sie diesen Kommentar mit Ihrem eigenen
 *
 * @param name  ein Beispielparameter
 * @return      eine Begrüßungsnachricht
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
