$PKGLINE
import javablue.runtime.Shell;
import javablue.runtime.ObjectResultWrapper;
import java.util.Hashtable;

public class $CLASSNAME extends Shell
{
    $VARDECL

    public static void main(String[] args)
	throws Exception
    {
	$SCOPEINIT
	$INVOCATION
    }
}

