Package: bluej
Priority: extra
Section: Programming
Installed-Size: 420000
Maintainer: BlueJ Team <bluej-support@bluej.org>
Architecture: amd64
Version: VERSION
Description: A simple but powerful Java IDE.
  Go to <bluej.org> for more details.
