<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
$COMMENT
    <HEAD>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE"
            archive="$ARCHIVE"
            ALT="당신의 브라우저는 &lt;APPLET&gt; 태그를 인식하지만 여러 이유로 애플릿을 실행할 수 없습니다."
        >
            $PARAMETERS
	        당신의 브라우저는 &lt;APPLET&gt; 태그를 무시하고 있습니다!
        </APPLET>
        <HR>
    </BODY>
</HTML>
