------------------------------------------------------------------------
Main class: $MAINCLASS
이 어플리케이션을 사용하기 위해서, 다음 명령어를 사용하십시오.
  java $MAINCLASS
------------------------------------------------------------------------
