#include <windows.h>
#include "resources.h"

LANGUAGE 0, 0


// MAINICON ICON "example-vista-icon.ico"
#ifndef GREENFOOT
MAINICON ICON "bluej-vista.ico"
#else
MAINICON ICON "greenfoot-icon-256-shadow.ico"
#endif
2 ICON "vmselect.ico"

#ifndef GREENFOOT
MANIFEST_RESOURCE_ID RT_MANIFEST "bjmanifest.xml"
#else
MANIFEST_RESOURCE_ID RT_MANIFEST "gfmanifest.xml"
#endif

DLG_MAIN DIALOGEX 0, 0, 368, 124
#ifndef GREENFOOT
CAPTION "BlueJ Launcher"
#else
CAPTION "Greenfoot Launcher"
#endif
STYLE  WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_CENTER
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif"
BEGIN
  // LTEXT "", 1119, 0, 0, 204, 76, 0x40020000
  // ICON MAINICON, ID_BJICON_CONTROL, 5, 5
  CONTROL "MAINICON", ID_BJICON_CONTROL, "STATIC", SS_ICON | SS_CENTERIMAGE, 5, 5, 30, 30
  
  CTEXT "1st line", ID_TEXTLINE_1, 60, 5, 303, 10
  CTEXT "2nd line", ID_TEXTLINE_2, 60, 15, 303, 10
  CTEXT "3rd line", ID_TEXTLINE_3, 60, 25, 303, 10
  
  LISTBOX ID_JDKLISTBOX, 5, 35, 358, 80, WS_BORDER | LBS_NOTIFY
  
  PUSHBUTTON "Launch", ID_LAUNCHBUTTON, 280, 105, 83, 15, BS_PUSHBUTTON | WS_DISABLED
  PUSHBUTTON "Browse...", ID_BROWSEBUTTON, 5, 105, 83, 15, BS_PUSHBUTTON
  
  // SS_ICON || SS_REALSIZECONTROL
END

1 VERSIONINFO
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT
FILETYPE VFT_APP
FILESUBTYPE 0
#ifdef GREENFOOT
#include "greenfoot-version.rc"
#else
#include "bluej-version.rc"
#endif
