FILEVERSION 3,6,1,0
PRODUCTVERSION 3,6,1,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "04091200"
		BEGIN
			VALUE "CompanyName", "BlueJ group"
			VALUE "FileDescription", "Greenfoot Launcher"
			VALUE "FileVersion", "3.6.1"
			VALUE "InternalName", "greenfoot"
			VALUE "OriginalFilename", "greenfoot.exe"
			VALUE "ProductName", "Greenfoot"
			VALUE "ProductVersion", "3.6.1"
		END
	END
END
