$PKGLINE/**
 * Lav en beskrivelse af klassen $CLASSNAME her.
 *
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
abstract class $CLASSNAME {
    // instansvariabler - erstat eksemplet herunder med dine egne variabler
    var x: Int = 0

    /**
     * Et eksempel på en abstrakt metode - erstat denne kommentar med din egen
     *
     * @param y     eksempel på en parameter til en metode
     * @return      beskrivelse af returværdien
     */
    abstract fun sampleMethod(y: Int): Int
}
