$PKGLINE
/**
 * Abstrakt klasse $CLASSNAME - lav en beskrivelse af klassen her
 * 
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
public abstract class $CLASSNAME
{
	// instansvariable - erstat eksemplet herunder med dine egne variable
	private int x;

	/**
	 * Et eksempel på en metode - erstat denne kommentar med din egen
	 * 
	 * @param  y	eksempel på en parameter til en metode
	 * @return		summen af x og y 
	 */
	public int sampleMethod(int y)
	{
		// indsæt din egen kode her
		return x + y;
	}
}
