$PKGLINE
/**
 * Enumeration class $CLASSNAME - lav en beskrivelse af enum klassen her
 * 
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
public enum $CLASSNAME
{
	MANDAG, TIRSDAG, ONSDAG, TORSDAG, FREDAG, LOERDAG, SOENDAG
}
