$PKGLINE
/**
 * Skriv en beskrivelse af interface $CLASSNAME her.
 * 
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */

public interface $CLASSNAME
{
	/**
	 * Et eksempel på et metode-hovede - erstat denne kommentar med din egen
	 * 
	 * @param  y	eksempel på en parameter til en metode
	 * @return		summen af x og y 
	 */
	int sampleMethod(int y);
}
