$PKGLINE/**
 * Skriv en beskrivelse af interface $CLASSNAME her.
 *
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
interface $CLASSNAME {
    /**
     * Et eksempel på et metode-hovede - erstat denne kommentar med din egen
     *
     * @param y     eksempel på en parameter til en metode
     * @return      resultatet produceret af sampleMethod
     */
    fun sampleMethod(y: Int): Int
}
