$PKGLINE/**
 * Funktioner på øverste niveau for $CLASSNAME.
 *
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */

/**
 * Et eksempel på en funktion - erstat denne kommentar med din egen
 *
 * @param name  en eksempelparameter
 * @return      en hilsningsbesked
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
