$PKGLINE
/**
 * Lav en beskrivelse af klassen $CLASSNAME her.
 * 
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
public class $CLASSNAME
{
	// instansvariabler - erstat eksemplet herunder med dine egne variabler
	private int x;

	/**
	 * Konstruktør for objekter af klassen $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// initialiser instansvariable
		x = 0;
	}

	/**
	 * Et eksempel på en metode - erstat denne kommentar med din egen
	 * 
	 * @param  y  eksempel på en parameter til en metode
	 * @return    summen af x og y 
	 */
	public int sampleMethod(int y)
	{
		// indsæt din egen kode her
		return x + y;
	}
}
