$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * Test klassen $CLASSNAME.
 *
 * @author (dit navn her)
 * @version (versions nummer eller dato her)
 */
public class $CLASSNAME
{
    /**
     * Standard konstruktør for test-klassen $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Opsæt test-fixtures.
     *
     * Kaldt før hver test-case metode.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * River test-fixture ned.
     *
     * Kaldt efter hver test-case metode.
     */
    @After
    public void tearDown()
    {
    }
}
