$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * Testklassen $CLASSNAME.
 *
 * @author (dit navn her)
 * @version (versionsnummer eller dato her)
 */
public class $CLASSNAME
{
    /**
     * Standardkonstruktør for testklassen $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Opsæt test-fixtures.
     *
     * Kaldt før hver testmetode.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * River test-fixture ned.
     *
     * Kaldt efter hver testmetode.
     */
    @After
    public void tearDown()
    {
    }
}
