$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * Testklassen $CLASSNAME.
 *
 * @author (dit navn her)
 * @version (versionsnummer eller dato her)
 */
public class $CLASSNAME
{
    /**
     * Standardkonstruktør for testklassen $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Opsæt test-fixtures.
     *
     * Kaldt før hver testmetode.
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * River test-fixture ned.
     *
     * Kaldt efter hver testmetode.
     */
    @AfterEach
    public void tearDown()
    {
    }
}
