<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE">
            $PARAMETERS
            ALT="Ihr Browser versteht das &lt;APPLET&gt;-Tag, führt aber aus irgendeinem Grund das Applet nicht aus."
            Ihr Browser ignoriert das &lt;APPLET&gt;-Tag!      
        </APPLET>
        <HR>
    </BODY>
</HTML>
