/**
 * Ein Beispiel einer Methode - ersetzen Sie diesen Kommentar mit Ihrem eigenen
 * 
 * @param  y	(Beschreibung des Parameters)
 * @return		(Beschreibung des Rückgabewertes)
 */
public int beispielMethode(int y)
{
	// tragen Sie hier den Code ein
	return y;
}
