------------------------------------------------------------------------
Main-Klasse: $MAINCLASS
Um diese Anwendung zu starten, benutzen Sie das Kommando
  java $MAINCLASS
------------------------------------------------------------------------
