$PKGLINE/**
 * 抽象类 $CLASSNAME - 在这里给出对这个类的描述
 * 
 * @作者: 
 * 日期: 
 */
public abstract class $CLASSNAME
{
	// 实例变量 - 用你自己的变量替换下面的例子
	int x;

	/**
	 * 一个方法的例子 - 使用你自己的说明替代它
	 * 
	 * @参数 y，方法的一个样本参数
	 * @返回 x，y的和 
	 */
	public int sampleMethod(int y)
	{
		// 在这里加入你的代码
		return x + y;
	}
}
