$PKGLINE
/**
 * 在这里给出对接口 $CLASSNAME 的描述。
 * 
 * @作者（你的名字）
 * @版本（一个版本号或者一个日期）
 */

public interface $CLASSNAME
{
	/**
	 * 方法头的一个例子 - 使用你自己的声明来替换它
	 * 
	 * @参数  y		方法的一个样本参数
	 * @返回		sampleMethod产生的结果
	 */
	int sampleMethod(int y);
}
