$PKGLINE
/**
 * 在这里给出对接口 $CLASSNAME 的描述。
 * 
 * @author (你的名字)
 * @version (一个版本号或者一个日期)
 */

public interface $CLASSNAME
{
	/**
	 * 方法头的一个例子 - 使用你自己的注释替换它
	 * 
	 * @param y 方法的一个示例参数
	 * @return  sampleMethod 产生的结果
	 */
	int sampleMethod(int y);
}
