$PKGLINE/**
 * $CLASSNAME 的顶层函数。
 *
 * @author (你的名字)
 * @version (一个版本号或者一个日期)
 */

/**
 * 一个函数的例子 - 使用你自己的注释替换它
 *
 * @param name  一个示例参数
 * @return      一条问候消息
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
