$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * 测试类 $CLASSNAME.
 *
 * @author  (你的名字)
 * @version (一个版本号或一个日期)
 */
public class $CLASSNAME
{
    /**
     * 测试类 $CLASSNAME 的默认构造器
     */
    public $CLASSNAME()
    {
    }

    /**
     * 建立测试夹具(test fixture).
     *
     * 在每个测试用例方法(test case method)之前调用.
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * 拆解测试夹具(test fixture).
     *
     * 在每个测试用例方法(test case method)之后调用.
     */
    @AfterEach
    public void tearDown()
    {
    }
}
