$PKGLINE/**
 * Klas $CLASSNAME - gee hier 'n beskrywing van die klas
 *
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */
abstract class $CLASSNAME {
    // eksemplaarveranderlikes - vervang die volgende voorbeeld met u eie
    var x: Int = 0

    /**
     * 'n Voorbeeld van 'n abstrakte metode - vervang hierdie kommentaar met u eie
     *
     * @param y     'n voorbeeldparameter vir 'n voorbeeldmetode
     * @return      beskrywing van die terugkeerwaarde
     */
    abstract fun sampleMethod(y: Int): Int
}
