$PKGLINE/**
 * Abstrakte klas $CLASSNAME - skryf 'n beskrywing van die klas hier
 * 
 * @outeur: 
 * Datum: 
 */
public abstract class $CLASSNAME
{
	// eksemplaarveranderlikes - vervang die volgende voorbeeld met u eie
	private int x;

	/**
	 * 'n Voorbeeld van 'n metode - vervang hierdie kommentaar met u eie
	 * 	
	 * @param  y   'n voorbeeldparameter vir 'n voorbeeldmetode
	 * @return	   die som van x en y 
	 */
	public int sampleMethod(int y)
	{
		// skryf u eie kode hier
		return x + y;
	}
}
