$PKGLINE
/**
 * Klas $CLASSNAME - gee hier 'n beskrywing van die klas
 * 
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */

public interface $CLASSNAME
{
	/**
	 * 'n Voorbeeld van 'n metode-opskrif - vervang dit met u eie kode en kommentaar
	 * 
	 * @param  y	voorbeeldparameter vir die voorbeeldmetode
	 * @return		die resultaat wat die metode sal lewer / terugstuur
	 */
	int sampleMethod(int y);
}
