$PKGLINE/**
 * Klas $CLASSNAME - gee hier 'n beskrywing van die klas
 *
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */
interface $CLASSNAME {
    /**
     * 'n Voorbeeld van 'n metode-opskrif - vervang dit met u eie kode en kommentaar
     *
     * @param y     'n voorbeeldparameter vir 'n voorbeeldmetode
     * @return      die resultaat wat die metode sal lewer / terugstuur
     */
    fun sampleMethod(y: Int): Int
}
