$PKGLINE/**
 * Funksies op boonste vlak vir $CLASSNAME.
 *
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */

/**
 * 'n Voorbeeld van 'n funksie - vervang hierdie kommentaar met u eie
 *
 * @param name  'n voorbeeldparameter
 * @return      'n groetboodskap
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
