$PKGLINE/**
 * Klas $CLASSNAME - gee hier 'n beskrywing van die klas
 *
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */
open class $CLASSNAME {
    // eksemplaarveranderlikes - vervang die volgende voorbeeld met u eie
    var x: Int = 0

    /**
     * 'n Voorbeeld van 'n oop metode - vervang hierdie kommentaar met u eie
     *
     * @param y     'n voorbeeldparameter vir 'n voorbeeldmetode
     * @return      die som van x en y
     */
    open fun sampleMethod(y: Int): Int {
        return x + y
    }
}
