$PKGLINE
/**
 * Klas $CLASSNAME - gee hier 'n beskrywing van die klas
 * 
 * @outeur: (tik die outeurs se name hier)
 * @datum:  (tik die datum of weergawe hier)
 */

public class $CLASSNAME
{
	// eksemplaarveranderlikes - vervang die volgende voorbeeld met u eie
	private int x;

	/**
	 * Konstruktor vir objekte van klas $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// inisialiseer eksemplaarveranderlikes
		x = 0;
	}

	/**
	 * 'n Voorbeeld van 'n metode - vervang hierdie kommentaar met u eie
	 * 	
	 * @param  y   'n voorbeeldparameter vir 'n voorbeeldmetode
	 * @return	   die som van x en y 
	 */
	public int sampleMethod(int y)
	{
		// skryf u eie kode hier
		return x + y;
	}
}
