$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * The test class $CLASSNAME.
 * 
 * @author  (your name)
 * @version (a version number or a date)
 */
public class $CLASSNAME
{
    /**
     * Default constructor for test class $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Sets up the test fixture.
     *
     * Called before every test case method.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Called after every test case method.
     */
    @After
    public void tearDown()
    {
    }
}
