<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE mini-toepassing</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE mini-toepassing</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE=$CODEBASE>
            $PARAMETERS
            ALT="U webleser verstaan die &lt;APPLET&gt; merker, maar die mini-toepassing loop om een of ander rede nie."
            U webleser ignoreer die &lt;APPLET&gt; merker!      
        </APPLET>
        <HR>
    </BODY>
</HTML>
