	/**
	 * 'n Voorbeeld van 'n metode - vervang hierdie kommentaar met u eie
	 * 	
	 * @param  y   'n voorbeeldparameter vir 'n voorbeeldmetode
	 * @return	   die som van x en y 
	 */
	public int sampleMethod(int y)
	{
		// skryf u eie kode hier
		int x = 1;
		return x + y;
	}
