------------------------------------------------------------------------
Hoofklas: $MAINCLASS
Om die toepassing te loop, gebruik die opdrag
  java $MAINCLASS
------------------------------------------------------------------------
------------------------------------------------------------------------
Main class: $MAINCLASS
To start this application, use the command
  java $MAINCLASS
------------------------------------------------------------------------
