------------------------------------------------------------------------
Hierdie is die projek se LEESMY / README lêer. Hier behoort 'n beskrywing van die projek te wees.
As u verkies kan u dit in meer as een taal (bv. Afrikaans en Engels) doen.
Vertel die leser (iemand wat niks van die projek af weet nie)
alles wat hy/sy behoort tre weet. Die beskrywing bevat normaalweg ten minste die volgende:
------------------------------------------------------------------------

(English text follows below.)

PROJEKTITEL:
DOEL VAN DIE PROJEK:
WEERGAWE en/of DATUM:
HOE DIE PROJEK GELOOP WORD / AAN DIE GANG GESIT WORD:
OUTEURS:
KOPIEREG EN GEBRUIKSVOORWAARDES:
GEBRUIKERSINSTRUKSIES:


-------------------------------------------------

PROJECT TITLE:
PURPOSE OF PROJECT:
VERSION or DATE:
HOW TO START THIS PROJECT:
AUTHORS:
COPYRIGHT AND CONDITIONS OF USE:
USER INSTRUCTIONS:
