$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // NOTA: die ontfouter verwys na die metodenaam "run"  - daarom kan dit nie
    //       verander word sonder dat die implementering van die ontfouter ook verander word nie!

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$INVOCATION
    }
}

