$PKGLINE
/**
 * Décrivez votre classe abstraite $CLASSNAME ici.
 *
 * @author  (votre nom)
 * @version (un numéro de version ou une date)
 */
public abstract class $CLASSNAME
{
    // variable d'instance - remplacez cet exemple par le vôtre
    int x;

    /**
     * Un exemple de méthode concrète
     *
     * @param  y	le paramètre de cette méthode
     * @return		la somme de x et de y
     */
    public int exempleDeMethode(int y)
    {
        // Insérez votre code ici
        return x + y;
    }

    /**
     * Un exemple de méthode abstraite
     * @param  y	le paramètre de cette méthode
     * @return		qui sait ?
     */
    abstract public int exempleDeMethodAbstraite(int y)
}
