$PKGLINE
/**
 * Classe Enumeration $CLASSNAME - écrire ic la description de la classe
 * 
 * @author (votre nom ici)
 * @version (numéro de version ou date ici)
 */
public enum $CLASSNAME
{
	MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}
