$PKGLINE
/**
 * Classe Enumeration $CLASSNAME - écrire ic la description de la classe
 * 
 * @author (votre nom ici)
 * @version (numéro de version ou date ici)
 */
public enum $CLASSNAME
{
	monday, tuesday, wednesday, thursday, friday, saturday, sunday;
}
