$PKGLINE
/**
 * Décrivez votre interface $CLASSNAME ici.
 *
 * @author  (votre nom)
 * @version (un numéro de version ou une date)
 */

public interface $CLASSNAME
{
    /**
     * Exemple d'entête de méthode - remplacez ce commentaire par le vôtre
     *
     * @param  y	le paramètre de cette méthode
     * @return		le résultat retourné par exempleDeMethode
     */
    int exempleDeMethode(int y);
}
