$PKGLINE
/**
 * Décrivez votre classe $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un numéro de version ou une date)
 */
public class $CLASSNAME
{
    // variables d'instance - remplacez l'exemple qui suit par le vôtre
    private int x;

    /**
     * Constructeur d'objets de classe $CLASSNAME
     */
    public $CLASSNAME()
    {
        // initialisation des variables d'instance
        x = 0;
    }

    /**
     * Un exemple de méthode - remplacez ce commentaire par le vôtre
     *
     * @param  y   le paramètre de la méthode
     * @return     la somme de x et de y
     */
    public int sampleMethod(int y)
    {
        // Insérez votre code ici
        return x + y;
    }
}
