$PKGLINE/**
 * Décrivez votre classe $CLASSNAME ici.
 *
 * @author (votre nom)
 * @version (un numéro de version ou une date)
 */
class $CLASSNAME {
    // variables d'instance - remplacez l'exemple qui suit par le vôtre
    var x: Int = 0

    /**
     * Un exemple de méthode - remplacez ce commentaire par le vôtre
     *
     * @param y     le paramètre de la méthode
     * @return      la somme de x et de y
     */
    fun sampleMethod(y: Int): Int {
        // Insérez votre code ici
        return x + y
    }
}
