$PKGLINE
/**
 * Classe-test $CLASSNAME.
 *
 * @author  (votre nom)
 * @version (un numéro de version ou une date)
 *
 * Les classes-test sont documentées ici :
 * http://junit.sourceforge.net/javadoc/junit/framework/TestCase.html
 * et sont basées sur le document Š 2002 Robert A. Ballance intitulé
 * ŤJUnit: Unit Testing Frameworkť.
 *
 * Les objets Test (et TestSuite) sont associés aux classes ŕ tester
 * par la simple relation yyyTest (e.g. qu'un Test de la classe Name.java
 * se nommera NameTest.java); les deux se retrouvent dans le męme paquetage.
 * Les "engagements" (anglais : "fixture") forment un ensemble de conditions
 * qui sont vraies pour chaque méthode Test ŕ exécuter.  Il peut y avoir
 * plus d'une méthode Test dans une classe Test; leur ensemble forme un
 * objet TestSuite.
 * BlueJ découvrira automatiquement (par introspection) les méthodes
 * Test de votre classe Test et générera la TestSuite conséquente.
 * Chaque appel d'une méthode Test sera précédé d'un appel de setUp(),
 * qui réalise les engagements, et suivi d'un appel ŕ tearDown(), qui les
 * détruit.
 */
public class $CLASSNAME extends junit.framework.TestCase
{
    // Définissez ici les variables d'instance nécessaires ŕ vos engagements;
    // Vous pouvez également les saisir automatiquement du présentoir
    // ŕ l'aide du menu contextuel "Présentoir --> Engagements".
    // Notez cependant que ce dernier ne peut saisir les objets primitifs
    // du présentoir (les objets sans constructeur, comme int, float, etc.).
    protected double fValeur1;
    protected double fValeur2;

    /**
     * Constructeur de la classe-test $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Met en place les engagements.
     *
     * Méthode appelée avant chaque appel de méthode de test.
     */
    protected void setUp() // throws java.lang.Exception
    {
        // Initialisez ici vos engagements
        fValeur1= 2.0;
        fValeur2= 3.0;
    }

    /**
     * Supprime les engagements
     *
     * Méthode appelée aprčs chaque appel de méthode de test.
     */
    protected void tearDown() // throws java.lang.Exception
    {
        //Libérez ici les ressources engagées par setUp()
    }

    /**
     * Il ne vous reste plus qu'ŕ définir une ou plusieurs méthodes de test.
     * Ces méthodes doivent vérifier les résultats attendus ŕ l'aide d'assertions
     * assertTrue(<boolean>).
     * Par convention, leurs noms devraient débuter par "test".
     * Vous pouvez ébaucher le corps grâce au menu contextuel "Enregistrer une méthode de test".
     */
    public void testAdd()
    {
        double somme = fValeur1 + fValeur2;
        assertTrue(somme == 5.0);
    }
    public void testFail()
    {
        double somme = fValeur1 + fValeur2;
        assertTrue(somme == 15.0);
    }
}
