$PKGLINE

/**
 * Classe abstracta $CLASSNAME - feu-ne una descripció
 * 
 * @author (el vostre nom) 
 * @version (un número de versió o la data)
 */
public abstract class $CLASSNAME {

	// Variables d'instància - canvieu l'exemple d'aquí sota pels vostres exemples
	private int x;

	/**
	 * Mètode constructor per a objectes de la classe $CLASSNAME
	 */
	public $CLASSNAME() {
		// Heu d'inicialitzar les variables d'instància
		x = 0;
	}

	/**
	 * Un exemple de mètode - poseu-hi el vostre comentari
	 * 
	 * @param  y   un paràmetre de mostra: ha de ser un nombre enter
	 * @return     la suma d'x amb y 
	 */
	public int metodeDeMostra (int y) {
		// Poseu el vostre codi a continuació:
		return x + y;
	}

}
