$PKGLINE/**
 * Escriviu aquí una descripcìó de la classe $CLASSNAME
 *
 * @author (el vostre nom)
 * @version (un número de versió o la data)
 */
data class $CLASSNAME(
    val name: String,
    val value: Int
)
