$PKGLINE

/**
 * Escriviu aquí una descripcìó de la interfície $CLASSNAME
 * 
 * @author (el vostre nom) 
 * @version (un número de versió o la data)
 */
public interface $CLASSNAME {

	/**
	 * Un exemple d'encapçalament de mètode. Poseu-hi el vostre comentari
	 * 
	 * @param  y	Un paràmetre de mostra: ha de ser un nombre enter.
	 * @return	El resultat de l'execució del mètode metodeDeMostra.
	 */
	int metodeDeMostra(int y);

}
