$PKGLINE/**
 * Funcions de nivell superior per a $CLASSNAME.
 *
 * @author (el vostre nom)
 * @version (un número de versió o la data)
 */

/**
 * Un exemple de funció. Poseu-hi el vostre comentari
 *
 * @param name  un paràmetre de mostra
 * @return      un missatge de salutació
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
