$PKGLINE/**
 * Escriviu aquí una descripcìó de la classe $CLASSNAME
 *
 * @author (el vostre nom)
 * @version (un número de versió o la data)
 */
class $CLASSNAME {
    // Variables d'instància. Canvieu l'exemple d'aquí sota pels vostres exemples
    var x: Int = 0

    /**
     * Un exemple de mètode. Poseu-hi el vostre comentari
     *
     * @param y     Un paràmetre de mostra: ha de ser un nombre enter.
     * @return      La suma de x amb y
     */
    fun sampleMethod(y: Int): Int {
        // poseu el vostre codi a continuació:
        return x + y
    }
}
