$PKGLINE

/**
 * Escriviu aquí una descripcìó de la classe $CLASSNAME
 * 
 * @author (el vostre nom) 
 * @version (un número de versió o la data)
 */
public class $CLASSNAME {

	// Variables d'instància. Canvieu l'exemple d'aquí sota pels vostres exemples
	private int x;

	/**
	 * Mètode constructor per a objectes de la classe $CLASSNAME
	 */
	public $CLASSNAME() {
		// Heu d'inicialitzar les variables d'instància
		x = 0;
	}

	/**
	 * Un exemple de mètode. Poseu-hi el vostre comentari
	 * 
	 * @param  y   Un paràmetre de mostra: ha de ser un nombre enter.
	 * @return     La suma de x amb y 
	 */
	public int metodeDeMostra (int y) {
		// poseu el vostre codi a continuació:
		return x + y;
	}
	
}
