$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * La classe test $CLASSNAME.
 *
 * @author (el vostre nom)
 * @version (un número de versió o la data)
 */
public class $CLASSNAME {

    /**
     * Mètode constructor per defecte de la classe test $CLASSNAME
     */
    public $CLASSNAME() {
    }

    /**
     * Estableix el test
     *
     * Cridat abans de cada test del mètode
     */
    @Before
    public void setUp()
    {
    }

    /**
     * Destrueix el test
     *
     * Cridat després de cada test del mètode
     */
    @After
    public void tearDown()
    {
    }
    
}
