$PKGLINE

/**
 * La classe test $CLASSNAME.
 *
 * @author (el vostre nom) 
 * @version (un número de versió o la data)
 */
public class $CLASSNAME extends junit.framework.TestCase {

    /**
     * Mètode constructor per defecte de la classe test $CLASSNAME 
     */
    public $CLASSNAME() {
    }

    /**
     * Estableix el test
     *
     * Cridat abans de cada test del mètode
     */
    protected void setUp() {
    }

    /**
     * Destrueix el test
     *
     * Cridat després de cada test del mètode
     */
    protected void tearDown() {
    }
    
}
