$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * La classe test $CLASSNAME.
 *
 * @author (el vostre nom)
 * @version (un número de versió o la data)
 */
public class $CLASSNAME {

    /**
     * Mètode constructor per defecte de la classe test $CLASSNAME
     */
    public $CLASSNAME() {
    }

    /**
     * Estableix el test
     *
     * Cridat abans de cada test del mètode
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * Destrueix el test
     *
     * Cridat després de cada test del mètode
     */
    @AfterEach
    public void tearDown()
    {
    }
    
}
