/**
 * En eksempel på en metode - erstat denne kommentar med din egen
 *
 * @param  y   eksempel på en parameter til metoden
 * @return     summen af x og y
 */
public int sampleMethod(int y)
{
	// indsæt din kode her
	return y;
}

