------------------------------------------------------------------------
Dette er projektets README fil. Her skal du beskrive projektet.
Fortæl læseren (nogen der ikke kender til dette projekt) alt hvad
han/hun har brug for at vide. Kommentarerne skal som regel indeholde:
------------------------------------------------------------------------

PROJEKT TITEL:
FORMÅL MED PROJEKTET:
VERSION eller DATO:
HVORDAN MAN STARTER DETTE PROJEKT:
FORFATTERE:
BRUGER INSTRUKTIONER:
