------------------------------------------------------------------------
Hoved klasse: $MAINCLASS
For at starte denne applikation, brug kommandoen
  java $MAINCLASS
------------------------------------------------------------------------
