Package: greenfoot
Priority: extra
Section: Programming
Installed-Size: 420000
Maintainer: Greenfoot Team <support@greenfoot.org>
Architecture: amd64
Version: VERSION
Description: A simple but powerful Java IDE.
  Go to <greenfoot.org> for more details.
