$PKGLINE
/**
 * 추상클래스 $CLASSNAME - 여기에 클래스 설명을 작성하십시오.
 * 
 * @author (작성자 이름)
 * @version (버전 번호나 날짜)
 */
public abstract class $CLASSNAME
{
	// 인스턴스 변수 - 다음의 예제를 사용자에 맞게 바꾸십시오
	int x;

	/**
	 * 예제 메소드 - 이 주석을 사용자에 맞게 바꾸십시오
	 * 
	 * @param  y 메소드의 예제 매개변수
	 * @return     x 와 y 의 합
	 */
	public int sampleMethod(int y)
	{
		// 여기에 코드를 작성하십시오
		return x + y;
	}
}
