$PKGLINE
/**
 * 열거형 클래스 $CLASSNAME - 열거형 클래스에 대한 설명을 여기에 작성하세요
 *
 * @author (여기에 작성자 이름을 기입하세요)
 * @version (버전 번호 또는 날짜)
 */
public enum $CLASSNAME
{
    MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}
