$PKGLINE
/**
 * $CLASSNAME - 인터페이스의 설명을 작성하세요.
 *
 * @author (작성자 이름)
 * @version (버전 번호나 날짜)
 */
public interface $CLASSNAME
{
    /**
     * 예제 메소드 헤더 - 이 주석을 사용자에 맞게 변경하세요.
     *
     * @param  y 메소드의 샘플 파라미터
     * @return   sampleMethod의 반환값
     */
    int sampleMethod(int y);
}
