$PKGLINE
/**
 *   인터페이스 $CLASSNAME - 여기에 인터페이스 설명을 작성하십시오.
 * 
 * @author (작성자 이름) 
 * @version (버전 번호나 날짜)
 */

public interface $CLASSNAME
{
	/**
	 *  예제 메소드 해더 - 이 주석을 사용자에 맞게 바꾸십시오
	 * 
	 * @param  y	메소드의 예제 매개변수
	 * @return	예제메소드의 결과 산출물
	 */
	int sampleMethod(int y);
}
