$PKGLINE/**
 * $CLASSNAME 의 최상위 함수.
 *
 * @author (작성자 이름)
 * @version (버전 번호 또는 작성한 날짜)
 */

/**
 * 예제 함수 - 이 주석을 사용자에 맞게 바꾸십시오
 *
 * @param name  샘플 파라미터
 * @return      인사 메시지
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
