$PKGLINE
/**
 * 여기에 $CLASSNAME 클래스 설명을 작성하십시오.
 * 
 * @author (작성자 이름) 
 * @version (버전번호나 날짜)
 */
public class $CLASSNAME
{
	// 인스턴스 변수 - 다음의 예제를 사용자에 맞게 바꾸십시오
	private int x;

	/**
	 * $CLASSNAME 클래스의 객체 생성자
	 */
	public $CLASSNAME()
	{
		// 인스턴스 변수의 초기화
		x = 0;
	}

	/**
	 * 예제 메소드 - 이 주석을 사용자에 맞게 바꾸십시오
	 * 
	 * @param  y   메소드의 예제 매개변수
	 * @return     x 더하기 y 
	 */
	public int sampleMethod(int y)
	{
		// 여기에 코드를 작성하십시오.
		return x + y;
	}
}
