/**
 * Un exemple de méthode - remplacez ce commentaire par le vôtre
 *
 * @param  y   un paramčtre pour cette méthode
 * @param  x   un autre paramčtre
 * @return     la somme des deux paramčtres
 */
public int sampleMethod(int y, int x)
{
	// Insérez votre code ici
	return x+y;
}
