/**
 * Un exemple de méthode - remplacez ce commentaire par le vôf4tre
 *
 * @param  y   un paramètre pour cette méthode
 * @param  x   un autre paramètre
 * @return     la somme des deux paramètres
 */
public int sampleMethod(int y, int x)
{
        // Insérez votre code ici
        return x+y;
}
