------------------------------------------------------------------------
Classe main : $MAINCLASS
Pour lancer cette application, utilisez la commande
  java $MAINCLASS
------------------------------------------------------------------------
