$PKGLINE

public class $CLASSNAME extends bluej.runtime.Shell
{
    $VARDECL

    // NOTE : la méthode "run" est utilisée par le débogueur - il ne faut
    // pas la changer à moins de changer l'implémentation du débogueur aussi !

    public static void run()
	throws Throwable
    {
	$SCOPEINIT
	$INVOCATION
    }
}

