<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true" strideversion="1">
    <javadoc xml:space="preserve"/>
    <imports>
        <import target="java.util.*" enable="true"/>
        <import target="greenfoot.*" enable="true"/>
    </imports>
    <implements/>
    <fields/>
    <constructors/>
    <methods>
        <method access="public" type="void" name="act" enable="true">
            <javadoc xml:space="preserve">Act - tut, was auch immer $CLASSNAME tun will. Diese Methode wird aufgerufen, sobald der 'Act' oder 'Run' Button in der Umgebung angeklickt werden.</javadoc>
            <params/>
            <throws/>
            <body/>
        </method>
    </methods>
</class>
