import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot und MouseInfo)

/**
 * Ergänzen Sie hier eine Beschreibung für die Klasse $CLASSNAME.
 * 
 * @author (Ihr Name) 
 * @version (eine Versionsnummer oder ein Datum)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{
    /**
     * Act - tut, was auch immer $CLASSNAME tun will. Diese Methode wird aufgerufen, 
	 * sobald der 'Act' oder 'Run' Button in der Umgebung angeklickt werden. 
     */
	public void act() 
	{
		// Ergänzen Sie Ihren Quelltext hier...
	}	
}