/**
 * Ergänzen Sie hier eine Beschreibung für das Interface $CLASSNAME.
 * 
 * @author (Ihr Name) 
 * @version (eine Versionsnummer oder ein Datum)
 */
public interface $CLASSNAME
{
    /**
	 * Ein Beispiel für eine Methode - ersetzen Sie diesen
	 * Kommentar durch Ihren eigenen.
	 * 
	 * @param  y   ein Beispiel-Parameter für eine Methode
	 * @return     irgendeine Zahl
	 */
	public int sampleMethod(int y);
}