<?xml version="1.0" encoding="UTF-8"?>
    <interface name="$CLASSNAME" enable="true">
        <imports>
        	<import target="java.util.*" enable="true"/>
        	<import target="greenfoot.*" enable="true"/>
        </imports>
        <methods>
        	<methodproto access="public" type="int" name="sampleMethod" enable="true">
    	        <params>
	                <param type="int" name="y"/>
            	</params>
        	</methodproto>
        </methods>
    </interface>