/**
 * Ergänzen Sie hier eine Beschreibung für die Klasse $CLASSNAME.
 * 
 * @author (Ihr Name) 
 * @version (eine Versionsnummer oder ein Datum)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME 
{
	// Attribute -  ersetzen Sie das Beispiel hier mit ihren eigenen Attributen
	private int x;

	/**
	 * Konstruktor für Objekte der Klasse $CLASSNAME
	 */
	public $CLASSNAME()
	{
	}

	/**
	 * Ein Beispiel für eine Methode - ersetzen Sie diesen
	 * Kommentar durch Ihren eigenen.
	 * 
	 * @param  y   ein Beispiel-Parameter für eine Methode
	 * @return     irgendeine Zahl
	 */
	public int sampleMethod(int y)
	{
		// Ergänzen Sie Ihren Quelltext hier...
		return x + y;
	}
}