<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true" strideversion="1">
    <javadoc xml:space="preserve">Ergänzen Sie hier eine Beschreibung für die Klasse $CLASSNAME.</javadoc>
    <imports>
        <import target="java.util.*" enable="true"/>
        <import target="greenfoot.*" enable="true"/>
    </imports>
    <implements/>
    <fields>
        <comment xml:space="preserve">Attribute - ersetzen Sie das Beispiel hier mit ihren eigenen Attributen</comment>
        <variable access="private" type="int" name="x" enable="true"/>
    </fields>
    <constructors>
        <constructor access="public" enable="true">
            <javadoc xml:space="preserve">Konstruktor für Objekte der Klasse $CLASSNAME</javadoc>
            <params/>
            <throws/>
            <body/>
        </constructor>
    </constructors>
    <methods>
        <method access="public" type="int" name="sampleMethod" enable="true">
            <javadoc xml:space="preserve">Ein Beispiel für eine Methode - ersetzen Sie diesen Kommentar mit Ihrem eigenen...</javadoc>
            <params>
                <param type="int" name="y"/>
            </params>
            <throws/>
            <body>
                <comment xml:space="preserve">Erg\u00e4nzen Sie Ihren Quelltext hier...</comment>
                <return value="x+y" value-java="x + y" enable="true"/>
            </body>
        </method>
    </methods>
</class>
