import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot und MouseInfo)

/**
 * Ergänzen Sie hier eine Beschreibung für die Klasse $CLASSNAME.
 * 
 * @author (Ihr Name) 
 * @version (eine Versionsnummer oder ein Datum)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

    /**
	 * Konstruktor für Objekte der Klasse $CLASSNAME
     * 
     */
    public $CLASSNAME()
    {
    }
}