$PKGLINE
/**
 * Inštancie triedy {@code $CLASSNAME} predstavujú «doplňte opis»…
 *
 * @author		{meno autora}
 * @version		{verzia alebo dátum}
 */
public abstract class $CLASSNAME
{
	// inštančné premenné – «nahraďte nižšie uvedený
	//                      príklad vlastnými premennými»…
	private int x;


	/**
	 * Prázdna metóda – «tento komentár nahraďte vlastným opisom»…
	 *
	 * @param	y	opis významu parametra
	 * @return		opis významu návratovej hodnoty – napr.: súčet x a y
	 */
	public int príkladMetódy(int y)
	{
		// Sem vložte kód
		return x + y;
	}
}
