$PKGLINE
/*******************************************************************************
 * Inštancie triedy {@code $CLASSNAME} predstavujú ...
 *
 * @author		{meno autora}
 * @version		{verzia, napr.: 0.00.000, prípadne dátum}
 */
public abstract class $CLASSNAME
{
	// inštančné premenné – nahraďte nižšie uvedený príklad svojími
	// vlastnými premennými
	private int x;


	/***************************************************************************
	 * Prázdna metóda – tento komentár nahraďte svojím opisom
	 *
	 * @param	y	opis významu parametra
	 * @return		opis významu návratovej hodnoty – napr.: súčet x a y
	 */
	public int príkladMetódy(int y)
	{
		// Sem vložte kód
		return x + y;
	}
}
