$PKGLINE
/**
 * Vymenovacia trieda {@code $CLASSNAME} slúži «doplňte opis»…
 *
 * @author		{meno autora}
 * @version		{verzia alebo dátum}
 */
public enum $CLASSNAME
{
	PONDELOK, UTOROK, STREDA, ŠTVRTOK, PIATOK, SOBOTA, NEDEĽA
}
