$PKGLINE
/**
 * Rozhranie {@code $CLASSNAME} slúži na «doplňte opis»…
 *
 * @author   «meno autora»
 * @version  «verzia alebo dátum»
 */
public interface $CLASSNAME
{
    /**
     * «Tento komentár nahraďte vlastným opisom»…
     *
     * @param   y  opis významu parametra
     * @return     opis výsledku produkovaného metódou
     */
    int príkladMetódy(int y);
}
