$PKGLINE
/*******************************************************************************
 * Rozhranie {@code $CLASSNAME} slúži … – doplňte opis účelu rozhrania
 *
 * @author		{meno autora}
 * @version		{verzia, napr.: 0.00.000, prípadne dátum}
 */
public interface $CLASSNAME
{
	/***************************************************************************
	 * Tento komentár nahraďte vlastným opisom účelu metódy
	 *
	 * @param	y	opis významu parametra
	 * @return		opis výsledku produkovaného metódou
	 */
	int príkladMetódy(int y);
}
