$PKGLINE
/**
 * Trieda {@code $CLASSNAME} slúži na spúšťanie aplikácie «doplňte opis»…
 *
 * @author   «meno autora»
 * @version  «verzia alebo dátum»
 */
public class $CLASSNAME
{
    /**
     * Konštruktory objektov triedy $CLASSNAME.
     */
    public $CLASSNAME()
    {
        /*# Sem vložte kód, ktorý bude inicializovať hlavný objekt aplikácie. */
    }

    /**
     * Metóda main() je vstupným bodom aplikácie (slúži na jej spúšťanie).
     *
     * @param  args  parametre načítané z príkazového riadka
     */
    public static void main(String[] args)
    {
        /*# Sem vložte kód, ktorý bude inicializovať spustenie aplikácie. */

        // Nasledujúci riadok vytvorí pri spustení aplikácie inštanciu
        // hlavnej triedy (hlavný objekt):
        new $CLASSNAME();
    }
}
