$PKGLINE
/*******************************************************************************
 * Trieda {@code $CLASSNAME} slúži na spúšťanie aplikácie …
 *
 * @author		{meno autora}
 * @version		{verzia, napr.: 0.00.000, prípadne dátum}
 */
public class $CLASSNAME
{
	/***************************************************************************
	 * Konštruktory objektov triedy $CLASSNAME
	 */
	public $CLASSNAME()
	{
		/*# Sem vložte kód, ktorý bude inicializovať hlavný objekt aplikácie. */
	}

	/***************************************************************************
	 * Metóda main() slúži na spúšťanie aplikácie.
	 *
	 * @param	args	parametre načítané z príkazového riadka
	 */
	public static void main(String[] args)
	{
		/*# Sem vložte kód, ktorý bude inicializovať spustenie aplikácie. */

		// Nasledovný riadok vytvorí pri spustení aplikácie inštanciu
		// hlavnej triedy (hlavný objekt):
		new $CLASSNAME();
	}
}
