$PKGLINE
/**
 * Trieda {@code $CLASSNAME} slúži «doplňte opis»…
 *
 * @author		{meno autora}
 * @version		{verzia alebo dátum}
 */
public class $CLASSNAME
{
	// inštančné premenné – «nahraďte nižšie uvedený
	//                      príklad vlastnými premennými»…
	private int x;


	/**
	 * Konštruktory objektov triedy $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// inicializujte inštančné premenné
		x = 0;
	}


	/**
	 * Prázdna metóda – «tento komentár nahraďte vlastným opisom»…
	 *
	 * @param	y	opis významu parametra
	 * @return		opis významu návratovej hodnoty – napr.: súčet x a y
	 */
	public int príkladMetódy(int y)
	{
		// Sem vložte kód
		return x + y;
	}
}
