$PKGLINE
/**
 * Trieda {@code $CLASSNAME} slúži na «doplňte opis»…
 *
 * @author   «meno autora»
 * @version  «verzia alebo dátum»
 */
public class $CLASSNAME
{
    // Nahraďte nižšie uvedený príklad vlastnými premennými…

    // inštančné premenné…
    private int x;


    /**
     * Konštruktory objektov triedy $CLASSNAME.
     */
    public $CLASSNAME()
    {
        // Inicializujte inštančné premenné.
        x = 0;
    }


    /**
     * Prázdna metóda – «tento komentár nahraďte vlastným opisom»…
     *
     * @param   y  opis významu parametra
     * @return     opis významu návratovej hodnoty – napr.: súčet x a y
     */
    public int príkladMetódy(int y)
    {
        // Sem vložte príkazy tela metódy.
        return x + y;
    }
}
