$PKGLINE

/*******************************************************************************
 * Testovacia trieda {@code $CLASSNAME} slúži
 * na komplexné otestovanie triedy {@link $CLASSNAME}.
 *
 * @author		{meno autora}
 * @version		{verzia, napr.: 0.00.000, prípadne dátum}
 */
public class $CLASSNAME extends junit.framework.TestCase
{
	/***************************************************************************
	 * Predvolený konštruktor testovacej triedy $CLASSNAME
	 */
	public $CLASSNAME()
	{
	}


	/***************************************************************************
	 * Vytvorí $CLASSNAME so zadaným názvom
	 *
	 * @param	názov	názov konštruovaného testu
	 */
	public $CLASSNAME(String názov)
	{
		super(názov);
	}


	/***************************************************************************
	 * Inicializácia predchádzajúca spusteniu každého testu a pripravujúca tzv. 
	 * prípravok (fixture), čo je množina objektov, s ktorými budú testy
	 * pracovať.
	 */
	@Override
	protected void setUp()
	{
	}


	/***************************************************************************
	 * Upratovanie po teste – táto metóda je spustená po vykonaní každého testu.
	 */
	@Override
	protected void tearDown()
	{
	}
}
