$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * Testovacia trieda {@code $CLASSNAME}.
 *
 * @author   «meno autora»
 * @version  «verzia alebo dátum»
 */
public class $CLASSNAME
{
    /**
     * Predvolený konštruktor testovacej triedy $CLASSNAME.
     */
    public $CLASSNAME()
    {
    }


    /**
     * Vytvorí inštanciu triedy $CLASSNAME so zadaným názvom.
     *
     * @param  názov  názov konštruovaného testu
     */
    public $CLASSNAME(String názov)
    {
        super(názov);
    }


    /**
     * Inicializácia predchádzajúca spusteniu každého testu a pripravujúca
     * tzv. prípravok (fixture), čo je množina objektov, s ktorými budú
     * testy pracovať.
     */
    @BeforeEach
    protected void setUp()
    {
    }


    /**
     * „Upratovanie“ po teste – táto metóda je spustená po vykonaní každého
     * testu.
     */
    @AfterEach
    protected void tearDown()
    {
    }
}
