$PKGLINE/**
 * Aggiungi qui una descrizione della classe $CLASSNAME
 *
 * @author (il tuo nome)
 * @version (un numero di versione o una data)
 */
abstract class $CLASSNAME {
    // variabili d'istanza - sostituisci l'esempio che segue con il tuo
    var x: Int = 0

    /**
     * Un esempio di metodo astratto - aggiungi i tuoi commenti
     *
     * @param y     un parametro d'esempio per un metodo
     * @return      descrizione del valore restituito
     */
    abstract fun sampleMethod(y: Int): Int
}
