$PKGLINE/**
 * Aggiungi qui una descrizione della classe $CLASSNAME
 *
 * @author (il tuo nome)
 * @version (un numero di versione o una data)
 */
data class $CLASSNAME(
    val name: String,
    val value: Int
)
