$PKGLINE/**
 * Aggiungi qui una descrizione dell'interfaccia $CLASSNAME
 *
 * @author (il tuo nome)
 * @version (un numero di versione o una data)
 */
interface $CLASSNAME {
    /**
     * Un esempio di header di metodo - aggiungi i tuoi commenti
     *
     * @param y     un parametro d'esempio per un metodo
     * @return      il risultato prodotto dal metodo
     */
    fun sampleMethod(y: Int): Int
}
