$PKGLINE
/**
 * Aggiungi qui una descrizione dell'interfaccia $CLASSNAME
 * 
 * @author (il tuo nome) 
 * @version (un numero di versione o una data)
 */

public interface $CLASSNAME
{
	/**
	 * Un esempio di header di metodo - aggiungi i tuoi commenti
	 * 
	 * @param  y	un parametro d'esempio per il metodo
	 * @return	il risultato prodotto dal metodo
	 */
	int sampleMethod(int y);
}
