$PKGLINE/**
 * Funzioni di livello superiore per $CLASSNAME.
 *
 * @author (il tuo nome)
 * @version (un numero di versione o una data)
 */

/**
 * Un esempio di funzione - aggiungi i tuoi commenti
 *
 * @param name  un parametro d'esempio
 * @return      un messaggio di saluto
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
