$PKGLINE/**
 * Aggiungi qui una descrizione della classe $CLASSNAME
 *
 * @author (il tuo nome)
 * @version (un numero di versione o una data)
 */
class $CLASSNAME {
    // variabili d'istanza - sostituisci l'esempio che segue con il tuo
    var x: Int = 0

    /**
     * Un esempio di metodo - aggiungi i tuoi commenti
     *
     * @param y     un parametro d'esempio per un metodo
     * @return      la somma di x e y
     */
    fun sampleMethod(y: Int): Int {
        // metti qui il tuo codice
        return x + y
    }
}
