$PKGLINE
/**
 * Αφηρημένη κλάση $CLASSNAME - Γράψτε μια περιγραφή της κλάσης εδώ.
 * 
 * @author (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public abstract class $CLASSNAME {

}
