$PKGLINE/**
 * Γράψτε μια περιγραφή της κλάσης $CLASSNAME εδώ.
 *
 * @author (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
abstract class $CLASSNAME {
    // μεταβλητές στιγμιοτύπου - αντικαταστήστε το ακόλουθο παράδειγμα με τις δικές σας μεταβλητές
    var x: Int = 0

    /**
     * Παράδειγμα αφηρημένης μεθόδου - αντικαταστήστε το παρόν σχόλιο με το δικό σας
     *
     * @param y     παράδειγμα παραμέτρου για την μέθοδο
     * @return      περιγραφή της τιμής επιστροφής
     */
    abstract fun sampleMethod(y: Int): Int
}
