$PKGLINE
/**
 * Κλάση απαρίθμησης $CLASSNAME - Γράψτε μια περιγραφή της κλάσης εδώ
 * 
 * @author (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public enum $CLASSNAME
{
	MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY
}
