$PKGLINE
/**
 * Γράψτε μια περιγραφή της διεπαφής $CLASSNAME εδώ.
 * 
 * @author (Το όνομά σας) 
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */

public interface $CLASSNAME
{
	/**
	 * Παράδειγμα επικεφαλίδας μεθόδου - αντικαταστήστε αυτό το σχόλιο με το δικό σας
	 * 
	 * @param  y	παράδειγμα παραμέτρου για την μέθοδο
	 * @return		το αποτέλεσμα που παράγεται απο την μέθοδο sampleMethod 
	 */
	int sampleMethod(int y);
}
