$PKGLINE/**
 * Συναρτήσεις κορυφαίου επιπέδου για $CLASSNAME.
 *
 * @author (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */

/**
 * Παράδειγμα συνάρτησης - αντικαταστήστε το παρόν σχόλιο με το δικό σας
 *
 * @param name  ένα παράδειγμα παραμέτρου
 * @return      ένα μήνυμα χαιρετισμού
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
