$PKGLINE
/**
 * Γράψτε μια περιγραφή της κλάσης $CLASSNAME εδώ.
 * 
 * @author (Το όνομά σας) 
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public class $CLASSNAME
{
	// μεταβλητές στιγμιοτύπου - αντικαταστήστε το ακόλουθο παράδειγμα
	// με τις δικές σας μεταβλητές
	private int x;

	/**
	 * Κατασευαστής αντικειμένων της κλάσης $CLASSNAME
	 */
	public $CLASSNAME()
	{
		// αρχικοποίηση μεταβλητών στιγμιοτύπου
		x = 0;
	}

	/**
	 * Παράδειγμα μεθόδου - αντικαταστήστε το παρόν σχόλιο με το δικό σας
	 * 
	 * @param  y	παράδειγμα παραμέτρου για την μέθοδο
	 * @return		το άθροισμα του x με το y 
	 */
	public int sampleMethod(int y)
	{
		// Γράψτε τον κώδικα σας εδώ
		return x + y;
	}
}
