$PKGLINE

/**
 * Κλάση δοκιμασίας $CLASSNAME.
 *
 * @author  (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public class $CLASSNAME extends junit.framework.TestCase
{
    /**
     * Βασικός κατασκευαστής για την κλάση δοκιμασίας $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Δημιουργία ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται πριν απο κάθε μέθοδο δοκιμασίας.
     */
    protected void setUp()
    {
    }

    /**
     * Καταστροφή ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται μετά απο κάθε μέθοδο δοκιμασίας.
     */
    protected void tearDown()
    {
    }
}
