$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * Κλάση δοκιμασίας $CLASSNAME.
 *
 * @author  (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public class $CLASSNAME
{
    /**
     * Βασικός κατασκευαστής για την κλάση δοκιμασίας $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Δημιουργία ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται πριν απο κάθε μέθοδο δοκιμασίας.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * Καταστροφή ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται μετά απο κάθε μέθοδο δοκιμασίας.
     */
    @After
    public void tearDown()
    {
    }
}
