$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * Κλάση δοκιμασίας $CLASSNAME.
 *
 * @author  (Το όνομά σας)
 * @version (Αριθμός έκδοσης ή ημερομηνία εδώ)
 */
public class $CLASSNAME
{
    /**
     * Βασικός κατασκευαστής για την κλάση δοκιμασίας $CLASSNAME
     */
    public $CLASSNAME()
    {
    }

    /**
     * Δημιουργία ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται πριν απο κάθε μέθοδο δοκιμασίας.
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * Καταστροφή ιδιοδιάταξης (fixture) δοκιμασιών.
     *
     * Καλείται μετά απο κάθε μέθοδο δοκιμασίας.
     */
    @AfterEach
    public void tearDown()
    {
    }
}
