/**
 * Um exemplo de um método - substitua este comentário pelo seu próprio
 *
 * @param  y   um parâmetro de exemplo para um método
 * @return     a soma de x e y
 */
public int sampleMethod(int y)
{
	// escreva seu código aqui
	return y;
}

