/**
 * Um exemplo de mйtodo - substitua este comentбrio pelo seu prуprio
 *
 * @param  y   um parвmetro de exemplo
 * @return     a soma de x com y
 */
public int sampleMethod(int y)
{
	// ponha seu cуdigo aqui
	return y;
}

