/**
 * Um exemplo de método - substitua este comentário pelo seu próprio
 *
 * @param  y   um parâmetro de exemplo
 * @return     a soma de x com y
 */
public int sampleMethod(int y)
{
	// ponha seu código aqui
	return y;
}

