----------------------------------------------------------------------------
Este й o arquivo README do projeto. Vocк deve descrever aqui o seu projeto.
Informe ao usuбrio (alguйm que nгo sabe nada sobre este projeto!) tudo que
ele/ela precisa saber. Os comentбrios devem incluir, pelo menos:
------------------------------------------------------------------------

TITULO DO PROJETO:
OBJETIVO DO PROJETO:
VERSГO ou DATA:
COMO INICIAR O PROJETO:
AUTORES:
INSTRUЗХES PARA O USUБRIO:
