<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
$COMMENT
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>$TITLE Applet</title>
    </head>
    <body>
        <h1>$TITLE Applet</h1>
        <hr>
        <applet code="$CLASSFILE" 
            width=$APPLETWIDTH 
            height=$APPLETHEIGHT
            codebase="$CODEBASE"
            archive="$ARCHIVE"
            alt="El vostre navegador &eacute;s capa&ccedil; d'entendre l'etiqueta &lt;APPLET&gt;, per&ograve;, per alguna ra&oacute;, no pot executar aquest applet."
         >
            $PARAMETERS 
            "El vostre navegador no &eacute;s pas capa&ccedil; d'entendre l'etiqueta &lt;APPLET&gt;.  Calactualitzar-lo."
        </applet>
        <hr>
    </body>
</html>
