/**
 * Un exemple de mètode - poseu-hi el vostre comentari
 * 
 * @param  y un paràmetre de mostra: ha de ser un nombre enter
 * @return la suma d'x amb y 
 */
public int metodeDeMostra (int y) {
	// Poseu el vostre codi a continuació:
	return x + y;
}

