------------------------------------------------------------------------
Aquest  és  el  fitxer  README  (LLEGIU-ME)  del projecte. Aquí el podeu
descriure.
Expliqueu  a  qui  el  llegeixi  (algú  que  no sap  res d'aquest
projecte)  tot allò que necessita saber. Els comentaris han d'incloure
com a mínim:
------------------------------------------------------------------------

TÍTOL DEL PROJECTE:
FINALITAT DEL PROJECTE:
VERSIÓ o DATA:
COM ENGEGAR AQUEST PROJECTE:
AUTOR(S):
INSTRUCCIONS PER A L'USUARI:
