------------------------------------------------------------------------
Classe principal: $MAINCLASS
Per engegar aquesta aplicació, feu servir el comanament
  java $MAINCLASS.
------------------------------------------------------------------------
