/*
 * @(#)$CLASSNAME
 *
 * Zde doplnte informace o autorskych pravech
 */
$PKGLINE
/**
 * Sem napiste popis teto abstraktni tridy.
 *
 * @author     jmeno autora
 * @version    cislo verze, datum
 */
public abstract class $CLASSNAME 
{

    //Atributy instanci - nahradte ukazkovy kod svym vlastnim
    private int x;


    /**
     * Ukazkova abstraktni metoda - sem napiste vas komentar
     *
     * @param  y   vstupni parametr metody
     * @return     vraci soucin x a y
     */
    public abstract int abstraktniMetoda(int y);
    
    
    /**
     * Ukazkova metoda - sem napiste vas komentar
     *
     * @param  y   vstupni parametr metody
     * @return     vraci soucet x a y
     */
    public int ukazkovaMetoda(int y) 
    {
        //Sem napiste kod metody
        return x + y;
    }

}