$PKGLINE
/**
 * Abstraktni trida $CLASSNAME ... doplnte vlastni komentar
 *
 * @author     jmeno autora
 * @version    cislo verze, datum
 */
public abstract class $CLASSNAME 
{
    //Atributy instanci - nahradte ukazkovy kod svym vlastnim
    private int x;

    /**
     * Konstruktor - doplnte vlastni komentar
     *
     * @param  y   Popis parametru
     * @return     Popis navratove hodnoty
     * @throws Ex  Popis vyhazovane vyjimky
     */
    protected $CLASSNAME()
    {
        /*# Doplnte telo konstruktoru. */
    }

    /**
     * Ukazkova abstraktni metoda - doplnte vlastni komentar
     *
     * @param  y   Popis parametru
     * @return     Popis navratove hodnoty
     * @throws Ex  Popis vyhazovane vyjimky
     */
    public abstract int abstraktniMetoda();
    
    
    /**
     * Ukazkova metoda - doplnte vlastni komentar
     *
     * @param  y   Popis parametru
     * @return     Popis navratove hodnoty
     * @throws Ex  Popis vyhazovane vyjimky
     */
    public void metoda() 
    {
        /*# Doplnte telo metody. */
    }

}
