/*
 * @(#)$CLASSNAME
 *
 * Zde doplnte informace o autorskych pravech
 */
$PKGLINE
/**
 * Sem napiste popis teto abstraktni tridy.
 *
 * @author     jmeno autora
 * @version    cislo verze, datum
 */
public abstract class $CLASSNAME {
    // promenne instance objektu - nahradte ukazkovy kod svym vlastnim
    private int x;
    
    /**
     * Ukazkova metoda - sem napiste vas komentar
     *
     * @param  y   vstupni parametr metody
     * @return     vraci soucet x a y
     */
    public int ukazkovaMetoda(int y) {
        // sem napiste kod metody
        return x + y;
    }
}
