$PKGLINE

/*******************************************************************************
 * Instance třídy {@code $CLASSNAME} představují ...
 *
 * @author    jméno autora
 * @version   0.00.000
 */
public enum $CLASSNAME
{
//== HODNOTY VÝČTOVÉHO TYPU ====================================================

////=====  NÁPOVĚDA: KONSTRUKTOR BEZ PARAMETRŮ  ==============
//    JARO, LETO, PODZIM, ZIMA;
//
////=====  NÁPOVĚDA: KONSTRUKTOR S PARAMETRY  ================
//     JARO(par), LETO(par), PODZIM(par), ZIMA(par);

//== KONSTANTNÍ ATRIBUTY TŘÍDY =================================================
//== PROMĚNNÉ ATRIBUTY TŘÍDY ===================================================
//== KONSTANTNÍ ATRIBUTY INSTANCÍ ==============================================
//== PROMĚNNÉ ATRIBUTY INSTANCÍ ================================================
//== PŘÍSTUPOVÉ METODY ATRIBUTŮ TŘÍDY ==========================================
//== OSTATNÍ NESOUKROMÉ METODY TŘÍDY ===========================================

//##############################################################################
//== KONSTRUKTORY A TOVÁRNÍ METODY =============================================

    /***************************************************************************
     *
     */
    private $CLASSNAME()
    {
         /*# Doplňte tělo konstruktoru. */
    }


//== ABSTRAKTNÍ METODY =========================================================
//== PŘÍSTUPOVÉ METODY INSTANCÍ ================================================
//== OSTATNÍ NESOUKROMÉ  METODY INSTANCÍ =======================================
//== SOUKROMÉ A POMOCNÉ METODY TŘÍDY ===========================================
//== SOUKROMÉ A POMOCNÉ METODY INSTANCÍ ========================================
//== VNOŘENÉ A VNITŘNÍ TŘÍDY ===================================================
//== TESTOVACÍ METODY A TŘÍDY ==================================================
// 
//     /***************************************************************************
//      * Testovací metoda.
//      */
//     public static void test() 
//     {
//     }
//     /** @param args Parametry příkazového řádku - nepoužité. */
//     public static void main( String... args ) { test(); }
}
