/* Soubor je ulozen v kodovani UTF-8.
 * Kontrola kódování: Příliš žluťoučký kůň úpěl ďábelské ódy. */
$PKGLINE



/*******************************************************************************
 * Instance rozhraní {@code $CLASSNAME} představují ...
 *
 * @author    jméno autora
 * @version   0.00.000
 */
public interface $CLASSNAME
{
    //== VEŘEJNÉ KONSTANTY =====================================================
    //== DEKLAROVANÉ METODY ====================================================
    //== ZDĚDĚNÉ METODY ========================================================
    //== INTERNÍ DATOVÉ TYPY ===================================================
}
