/* UTF-8 codepage: Příliš žluťoučký kůň úpěl ďábelské ódy. ÷ × ¤
 * «Stereotype», Section mark-§, Copyright-©, Alpha-α, Beta-β, Smile-☺
 */
$PKGLINE



/*******************************************************************************
 * Instance interfejsu {@code $CLASSNAME} představují ...
 * The {@code $CLASSNAME} interface instances represent ...
 *
 * @author  author name
 * @version 0.00.0000 — 20yy-mm-dd
 */
public interface $CLASSNAME
{
//\CC== STATIC CONSTANTS =======================================================
//\CM== STATIC METHODS =========================================================



//##############################################################################
//\AG== ABSTRACT GETTERS AND SETTERS ===========================================
//\AM== OTHER ABSTRACT METHODS =================================================
//\DG== DEFAULT GETTERS AND SETTERS ============================================
//\DM== OTHER DEFAULT METHODS ==================================================



//##############################################################################
//\NT== NESTED DATA TYPES ======================================================
}
