/*
 * @(#)$CLASSNAME
 *
 * Zde doplnte informace o autorskych pravech
 */
$PKGLINE
/**
 * Sem napiste popis tohoto rozhrani.
 *
 * @author     jmeno autora
 * @version    cislo verze, datum
 */
public interface $CLASSNAME 
{
    /**
     * Ukazka hlavicky metody - sem napiste vas komentar
     *
     * @param  y    vstupni parametr metody
     * @return      metoda vraci ....
     */
    int ukazkovaMetoda(int y);
    
}