/*
 * @(#)$CLASSNAME
 *
 * Zde doplnte informace o autorskych pravech
 */
$PKGLINE
/**
 * Sem napiste popis teto tridy.
 *
 * @author     jmeno autora
 * @version    cislo verze, datum
 */
public class $CLASSNAME 
{

    //Atributy instanci - nahradte ukazkovy kod svym vlastnim
    private int x;
    
    /**
     * Konstruktor pro objekty tridy $CLASSNAME
     */
    public $CLASSNAME() 
    {
        //Inicializujte atributy instance
        x = 11;
    }
    
    
    /**
     * Ukazkova metoda - sem napiste vas komentar
     *
     * @param  y   vstupni parametr metody
     * @return     vraci soucet x a y
     */
    public int ukazkovaMetoda(int y) 
    {
        //Sem napiste kod metody
        return x + y;
    }
    
}