<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Fragment>
	 <UI>
	    <!-- This is the dialog that has three checkboxes on it,
	         one for creating file associations (to .bluej/.greenfoot and .bjar/.gfar)
	         one for a desktop shortcut, and
	         one for start menu shortcuts. 
	         This links up with the machinery in shortcut-associations.wxi -->	         
		<Dialog Id="CheckboxExtrasDlg" Width="370" Height="270">
		     <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallScopeDlgBannerBitmap)" />
             <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
             <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
             <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="Select which optional extra items you would like installed" />
             <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Select Associations and Shortcuts" />
             <Control Id="AssociationCheckBox" Type="CheckBox" Height="15" Width="250" CheckBoxValue="1" X="100" Y="100" Text="Add File Associations (*.[SOFTWAREPROJECTEXT], *.[SOFTWAREARCHIVEEXT])" Property="INSTALLASSOCIATIONS"/>
             <Control Id="MenuShortcutCheckBox" Type="CheckBox" Height="15" Width="250" CheckBoxValue="1" X="100" Y="125" Text="Create Program Menu Shortcuts" Property="INSTALLMENUSHORTCUT"/>
             <Control Id="DesktopShortcutCheckBox" Type="CheckBox" Height="15" Width="250" CheckBoxValue="1" X="100" Y="150" Text="Create Desktop Shortcut" Property="INSTALLDESKTOPSHORTCUT"/>             
	         <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
	         <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"/>
             <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
               <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
             </Control>
        </Dialog>
     </UI>
  </Fragment>            
</Wix>