$PKGLINE/**
 * クラス $CLASSNAME の注釈をここに書きます.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
abstract class $CLASSNAME {
    // インスタンス変数 - コードに合わせて説明を書き換えます.
    var x: Int = 0

    /**
     * 抽象メソッドの例 - このコメントも置き換えてください.
     *
     * @param y     メソッドのためのサンプル引数
     * @return      戻り値の説明
     */
    abstract fun sampleMethod(y: Int): Int
}
