$PKGLINE/**
 * 抽象クラス $CLASSNAME のための注釈をここに書きます.
 * 
 * @author: 
 * Date: 
 */
public abstract class $CLASSNAME
{
	// インスタンス変数 - コードに合わせて説明を書き換えます.
	int x;

	/**
	 * メソッドの例 - メソッドとともにこのコメントも置き換えてください.
	 * 
	 * @param  y	メソッドのためのサンプル引数
	 * @return		x と y の和
	 */
	public int sampleMethod(int y)
	{
		// ここにあなたのコードを書きます.
		return x + y;
	}
}
