$PKGLINE
/**
 * インターフェース $CLASSNAME のための注釈をここに書きます.
 * 
 * @author (あなたの名前) 
 * @version (バージョン番号もしくは日付)
 */

public interface $CLASSNAME
{
	/**
	 * メソッドのヘッダ例 - あなた自身のコメントで置き換えてください
	 * 
	 * @param  y	メソッドのためのサンプル引数
	 * @return		sampleMethod の戻り値
	 */
	int sampleMethod(int y);
}
