$PKGLINE/**
 * クラス $CLASSNAME のトップレベル関数.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */

/**
 * 関数の例 - このコメントも置き換えてください.
 *
 * @param name  サンプルパラメータ
 * @return      挨拶メッセージ
 */
fun sampleFunction(name: String): String {
    return "Hello, $name!"
}
