$PKGLINE/**
 * クラス $CLASSNAME の注釈をここに書きます.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
open class $CLASSNAME {
    // インスタンス変数 - コードに合わせて説明を書き換えます.
    var x: Int = 0

    /**
     * オープンメソッドの例 - このコメントも置き換えてください.
     *
     * @param y     メソッドのためのサンプル引数
     * @return      x と y の和
     */
    open fun sampleMethod(y: Int): Int {
        return x + y
    }
}
