$PKGLINE
/**
 * クラス $CLASSNAME の注釈をここに書きます.
 * 
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
public class $CLASSNAME
{
	// インスタンス変数 - コードに合わせて説明を書き換えます.
	private int x;

	/**
	 * $CLASSNAME クラスのインスタンスのためのコンストラクタ
	 */
	public $CLASSNAME()
	{
		// インスタンス変数の初期化
		x = 0;
	}

	/**
	 * メソッドの例 - メソッドとともにこのコメントも置き換えてください.
	 * 
	 * @param  y	メソッドのためのサンプル引数
	 * @return		x と y の和
	 */
	public int sampleMethod(int y)
	{
		// ここにあなたのコードを書きます
		return x + y;
	}
}
