$PKGLINE/**
 * クラス $CLASSNAME の注釈をここに書きます.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
class $CLASSNAME {
    // インスタンス変数 - コードに合わせて説明を書き換えます.
    var x: Int = 0

    /**
     * メソッドの例 - メソッドとともにこのコメントも置き換えてください.
     *
     * @param y     メソッドのためのサンプル引数
     * @return      x と y の和
     */
    fun sampleMethod(y: Int): Int {
        // ここにあなたのコードを書きます
        return x + y
    }
}
