$PKGLINE

import static org.junit.jupiter.api.Assertions.*;
import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;

/**
 * テストクラス $CLASSNAME.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
public class $CLASSNAME
{
    /**
     * テストクラス $CLASSNAME のためのデフォルトのコンストラクタ
     */
    public $CLASSNAME()
    {
    }

    /**
     * Sets up the test fixture.
     *
     * Called before every test case method.
     */
    @BeforeEach
    public void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Called after every test case method.
     */
    @AfterEach
    public void tearDown()
    {
    }
}
