$PKGLINE

/**
 * テストクラス $CLASSNAME.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
public class $CLASSNAME extends junit.framework.TestCase
{
    /**
     * テストクラス $CLASSNAME のためのデフォルトのコンストラクタ
     */
    public $CLASSNAME()
    {
    }

    /**
     * Sets up the test fixture.
     *
     * Called before every test case method.
     */
    protected void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Called after every test case method.
     */
    protected void tearDown()
    {
    }
}
