$PKGLINE

import static org.junit.Assert.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;

/**
 * テストクラス $CLASSNAME.
 *
 * @author (あなたの名前)
 * @version (バージョン番号もしくは日付)
 */
public class $CLASSNAME
{
    /**
     * テストクラス $CLASSNAME のためのデフォルトのコンストラクタ
     */
    public $CLASSNAME()
    {
    }

    /**
     * Sets up the test fixture.
     *
     * Called before every test case method.
     */
    @Before
    public void setUp()
    {
    }

    /**
     * Tears down the test fixture.
     *
     * Called after every test case method.
     */
    @After
    public void tearDown()
    {
    }
}
