Package: greenfoot
Priority: extra
Section: Programming
Installed-Size: 25700
Maintainer: Davin McCall <davmac@bluej.org>
Architecture: all
Version: VERSION
Depends: openjdk-8-jdk | oracle-java8-jdk | oracle-java8-installer, libopenjfx-java | oracle-java8-jdk | oracle-java8-installer
Description: A simple but powerful Java IDE.
  Go to <greenfoot.org> for more details.
