Package: greenfoot-unbundled
Priority: extra
Section: Programming
Installed-Size: 25700
Maintainer: Greenfoot Team <support@greenfoot.org>
Architecture: all
Replaces: greenfoot (<< 3.6.0)
Breaks: greenfoot (<< 3.6.0)
Version: VERSION
Depends: openjdk-11-jdk (>= 11), openjfx (>= 11)
Description: A simple but powerful Java IDE.
  Go to <greenfoot.org> for more details.
