<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>greenfoot</string>
				<string>jar</string>
				<string>gfar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>greenfoot.icns</string>
			<key>CFBundleTypeName</key>
			<string>greenfootproject</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>VERSION</string>
	<key>CFBundleIconFile</key>
	<string>greenfoot.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.greenfoot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Greenfoot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION</string>
	<key>CFBundleSignature</key>
	<string>GrFo</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>Java</key>
	<dict>
		<key>Arguments</key>
		<string>-greenfoot=true -bluej.compiler.showunchecked=false</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/bluej.jar</string>
			<string>/System/Library/Java</string>
		</array>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>bluej.Boot</string>
		<key>Properties</key>
		<dict/>
	</dict>
</dict>
</plist>
