<html>
$COMMENT
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>$TITLE Applet</title>
	</head>
	<body>
		<h1>$TITLE Applet</h1>
		<hr />
		<APPLET code="$CLASSFILE"
			width=$APPLETWIDTH
			height=$APPLETHEIGHT
			codebase="$CODEBASE"
			archive="$ARCHIVE"
			alt="Váš prehliadač síce značke &lt;APPLET&gt; rozumie, avšak z nejakého dôvodu nedokáže tento aplet spustiť.">
			$PARAMETERS
			Váš prehliadač značku &lt;APPLET&gt; ignoruje!
		</APPLET>
		<hr />
	</body>
</html>