/**
 * Prázdna metóda – «tento komentár nahraďte vlastným opisom»…
 *
 * @param	y	opis významu parametra
 * @return		opis významu návratovej hodnoty
 * @throws	Ex	opis generovanej výnimky – väčšinou netreba
 */
public int príkladMetódy(int y)
{
	// Sem vložte kód
	return y;
}
