------------------------------------------------------------------------
Hlavná trieda: $MAINCLASS
Pre spustenie tejto aplikácie použite príkaz
  java $MAINCLASS
------------------------------------------------------------------------
