--------------------------------------------------------------------
Toto je README súbor projektu. Na tomto mieste stručne opíšte Váš
projekt. Čitateľovi, ktorý o tomto projekte nemusí nič vedieť,
vysvetlite všetko, čo by mal vedieť, aby mohol Váš program používať.

Táto úvodná pasáž je určená len pre autorov – pred publikovaním
svojho projektu ju z tohto súboru odstráňte. Tiež odstráňte všetky
časti nižšie, ku ktorým nemáte čo povedať (resp. napísať).
--------------------------------------------------------------------


NÁZOV PROJEKTU:
===============

VERZIA A (alebo) DÁTUM:
=======================

AUTORI:
=======


ÚČEL PROJEKTU:
==============


AKO PROJEKT SPUSTIŤ:
====================


INŠTRUKCIE PRE POUŽÍVATEĽOV:
============================


UŽITOČNÉ PRÍKAZY NA PRÁCU S PRÍKAZOVÝM PANELOM:
===============================================

