--------------------------------------------------------------------
Toto je README súbor projektu. Na tomto mieste stručne opíšte váš
projekt. Čitateľovi, ktorý o tomto projekte nemusí nič vedieť,
vysvetlite všetko, čo by mal vedieť, aby mohol váš program používať.

Táto úvodná pasáž je určená len pre autorov – pred publikovaním
svojho projektu ju z tohto súboru odstráňte.
--------------------------------------------------------------------

================================================
NÁZOV PROJEKTU:
================================================

AUTORI:
VERZIA A DÁTUM:
================================================



ÚČEL PROJEKTU:
==============



AKO PROJEKT SPUSTIŤ:
====================



INŠTRUKCIE PRE POUŽÍVATEĽOV:
============================



UŽITOČNÉ PRÍKAZY NA PRÁCU S PRÍKAZOVÝM PANELOM:
===============================================
