------------------------------------------------------------------------
Hlavná trieda: $MAINCLASS
Na spustenie tejto aplikácie použite príkaz
  java $MAINCLASS
------------------------------------------------------------------------
