<HTML>
$COMMENT
    <HEAD>
        <TITLE>$TITLE Applet</TITLE>
    </HEAD>
    <BODY>
        <H1>$TITLE Applet</H1>
        <HR>
        <APPLET CODE="$CLASSFILE" 
            WIDTH=$APPLETWIDTH 
            HEIGHT=$APPLETHEIGHT
            CODEBASE="$CODEBASE">
            $PARAMETERS
            ALT="Il tuo browser puo' usare &lt;APPLET&gt; ma per qualche ragione non ha avviato l'applet."
            Il browser sta ignorando il tag &lt;APPLET&gt; !      
        </APPLET>
        <HR>
    </BODY>
</HTML>
