/**
 * Esempio di metodo - sostituisci questo commento con i tuoi
 *
 * @param  y   un parametro di esempio per un metodo
 * @return     il valore restituito
 */
public int sampleMethod(int y)
{
	// metti qui il tuo codice
	return y;
}

