------------------------------------------------------------------------
Classe principale: $MAINCLASS
Per avviare questa applicazione usa il comando
  java $MAINCLASS
------------------------------------------------------------------------
