----------------------------------------------------------------------------------
******** File README del progetto ********    Qui dovresti descrivere il progetto.
Chi legge questo file, pur non sapendo nulla del progetto, dovrebbe ottenere tutte
le informazioni di cui ha bisogno. Probabilmente le informazioni essenziali sono:
----------------------------------------------------------------------------------

NOME DEL PROGETTO:
OBIETTIVO DEL PROGETTO
VERSIONE oppure DATA:
COME AVVIARE IL PROGETTO:
AUTORI:
ISTRUZIONI PER L'UTENTE:
